*~*
*.pyc
docs/html/*
docs/build/*
docs/latex/*
docs/doctrees/*
docs/source/generated/*
docs/source/static/stalker_design*.vue
docs/source/static/design
.cache/*
.coverage
.DS_Store
dist/*
build/*
stalker.egg-info/*
upload_to_pypi
include/*
local
*.swp
stalker.db*
