.cache/*
.coverage
.DS_Store
.env
.pytest_cache
.venv/
.vscode/
*.pyc
*.swp
*~*
build/*
dist/
dist/*
docs/build/*
docs/doctrees/*
docs/html/*
docs/latex/*
docs/source/generated/*
docs/source/static/design
docs/source/static/stalker_design*.vue
htmlcov
include/*
local
stalker.db*
stalker.egg-info