include *.ini *.cfg

include CHANGELOG.rst
include TODO
include README.rst
include INSTALL
include MANIFEST.in
include COPYING
include COPYING.LESSER
include alembic.ini

prune docs/build
prune docs/source/generated