{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='asset_split_container'>
  <div id='asset_summary'>
      {# Summary View #}
  </div>
  <div id='asset_related_data_tab_container'>
      {# Tab View #}
  </div>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dijit/layout/SplitContainer',
    'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
          function(registry, SplitContainer, TabContainer, ContentPane){

            var asset_SplitContainer = new SplitContainer({
              region: 'center',
              orientation: 'vertical',
              splitter: false

            }, 'asset_split_container');

            var summary_content_pane = new ContentPane({
              title: 'Summarize',
              href: 'summarize/asset/{{ asset.id }}',
              region: 'top'
            },'asset_summary');

            // **********************************************************************
            // Bottom Part - Complex Data View
            var asset_related_data_tab_container = new TabContainer({
              region: 'bottom'
            }, 'asset_related_data_tab_container');

            var users_content_pane = new ContentPane({
              title: 'Users',
              href: 'list/users/{{ asset.id }}'
            });

            var tasks_content_pane = new ContentPane({
              title: 'Tasks',
              href: 'list/tasks/{{ asset.id }}'
            });

            var tickets_content_pane = new ContentPane({
              title: 'Tickets',
              content: 'list/tickets/{{ asset.id }}'
            });

            var versions_content_pane = new ContentPane({
              title: 'Versions',
              href: 'list/versions/{{ asset.id }}'
            });

            asset_related_data_tab_container.addChild(users_content_pane);
            asset_related_data_tab_container.addChild(tasks_content_pane);
            asset_related_data_tab_container.addChild(tickets_content_pane);
            asset_related_data_tab_container.addChild(versions_content_pane);
            asset_related_data_tab_container.startup();

            asset_SplitContainer.addChild(summary_content_pane);
            asset_SplitContainer.addChild(asset_related_data_tab_container);
            asset_SplitContainer.startup();


          });
</script>
