<div id='list_assets'>
  <button id='list_assets_add_asset_button'>New Asset</button>
  <div id='assets_data_grid'></div>
</div>

<script type='text/javascript'>
  require(["dgrid/List", "dgrid/OnDemandGrid", 'dojo/store/Memory',"dgrid/Selection",
    "dgrid/Keyboard", "dgrid/editor", "dijit/form/CheckBox",
    "dijit/form/TimeTextBox",  "dijit/form/Select","dojo/data/ObjectStore",
    "dijit/form/FilteringSelect", 'dojo/store/JsonRest',
    "dojo/query","dgrid/test/data/base", "dojo/domReady!"],
    function(List, OnDemandGrid, Memory, Selection, Keyboard, editor, CheckBox, TimeTextBox,
             Select, ObjectStore, FilteringSelect, JsonRest, query){
      

      var my_store;
      var structure;



{#      var add_asset_button = dialogCaller({#}
{#        label: 'New Asset',#}
{#        dialog_id: 'add_asset_dialog',#}
{#        content_creator: create_add_asset_dialog,#}
{#        attach_to: 'list_assets_add_asset_button',#}
{#        related_field_updater: asset_data_grid_updater,#}
{#        data_id: '{{ project.id }}'#}
{#      });#}
{##}
{##}
{#      add_asset_button.startup();#}

      var columns;

      var asset_data_grid = new OnDemandGrid({
        id: 'assets_data_grid',
        width: '100%',
        autoHeight: true,
        singleClickEdit: true,
        escapeHTMLInData: false,
        rowSelector: '20px',
        selectionMode: "none"
      }, 'assets_data_grid');





      var status_memory;
      var status_store;
      var status_list_memory = new JsonRest({
        target: 'get/status_lists_for/Asset'
      });


      status_list_memory.query().then(function(data){

        var status_id = data[0]['id'];
        status_memory = new JsonRest({
          target: 'get/statuses_of/'+ status_id
        });

        alert('status_memory '+status_id);

        status_memory.query().then(function(data1){

          status_store =  new ObjectStore({ objectStore:new Memory({ data: data }) });
          alert('status_memory');
          asset_data_grid_updater();
        });

      });

      function asset_data_grid_updater(){


        var asset_memory = new JsonRest({
          target: '/get/assets/{{ project.id }}'
        });

        asset_memory.query().then(function(data){


          for(var i=0;i<data.length;i++ ){

            var assetName = data[i]["name"];
            var assetLink = '<a class="DataGridLink" href="#" stalker_href="view/asset/' + data[i]['id'] + '">' + assetName + '</a>';

            var userName = data[i]["user_name"];
            var userLink = '<a class="DataGridLink" href="#" stalker_href="view/user/' + data[i]['user_id'] + '">' + userName + '</a>';

            data[i]["asset_link"] = assetLink;
            data[i]["user_link"] = userLink;

          }


          my_store =  new ObjectStore({ objectStore:new Memory({ data: data }) });

          columns = [
            {field: "", label: "Thumbnail"},
            {field: "asset_link", label: "Name"},

            editor({
              label: "Type",
              field: "type",
              editorArgs: {
                store: status_store,
                maxHeight: 150,
                style: "width:120px;"
              }
            }, FilteringSelect),
            {field: "user_link", label: "Created By"},
            {field: "description", label: "Description"}
            // Note that mileage may vary with editOn + widgets with multiple focusable children, e.g. dijit/Editor
          ];



          asset_data_grid.set('columns', columns );
          asset_data_grid.renderArray(data);
          //asset_data_grid.set('store', my_store );

        });

      }

      function initUI() {
        alert('initUI');


{#        // connect links#}
{#        var contentPane = registry.byId('central_content');#}
{##}
{#        // get the Link Elements#}
{#        var dataGridLinks = query('.DataGridLink');#}
{##}
{#        for (var i=0; i < dataGridLinks.length; i++){#}
{##}
{#          on(dataGridLinks[i], 'click', function(){#}
{#            contentPane.set('href', this.getAttribute('stalker_href'));#}
{#            contentPane.reset();#}
{#          })#}
{#        }#}

      }






  });
</script>

