{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='department_details_content_pane'>
    <div style="background-color: #7f9599 " class="page_title"></div>
    {# Avatar #}
    <div id='department_avatar'
         class='thumbnail'>
        {% if not department.thumbnail %}
            <img src='{{ request.static_url("stalker:static/stalker/images/Placeholder_Team.jpg") }}'
                 alt=''
                 style='width:auto; height:150px;'>
        {% else %}
            <img src='{{ department.thumbnail.full_path }}'
                 alt=''
                 style='width:auto; height:150px;'>
        {% endif %}
        <div class='thumbnail_menu'>&nbsp</div>
    </div>

    {# Basic Info #}
    <div id='department_info' class='summary_info'>
        <h3 style='margin: 0; text-align: left;'>{{ department.name }}</h3>
        <table>
            {% if department.lead %}
                <tr>
                    <td style='text-align: right'><b>Lead</b></td>
                    <td>&nbsp;</td>
                    <td>
                        {% if has_permission('Read_User') %}
                            <a href="javascript:redirectLink('central_content',
                            'view/user/{{ department.lead.id }}');">
                                {{ department.lead.name }}
                            </a>
                        {% else %}
                            {{ department.lead.name }}
                        {% endif %}
                        ({{ department.lead.login }})
                    </td>
                </tr>
            {% endif %}
            {% if department.description %}
                <tr>
                    <td style='text-align: right'><strong>Description</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>{{ department.description }}</td>
                </tr>
            {% endif %}
            <tr>
                <td style='text-align: right'><strong>Created By</strong>
                </td>
                <td>&nbsp;</td>
                <td>
                    {% if has_permission('Read_User') %}
                        <a href="javascript:redirectLink('central_content',
                        'view/user/{{ department.created_by.id }}');">
                            {{ department.created_by.name }}
                        </a>
                    {% else %}
                        {{ department.created_by.name }}
                    {% endif %}
                </td>
            </tr>
            {% if has_permission('Update_Department') %}
                <tr>
                    <td style='text-align: right'></td>
                    <td>&nbsp;</td>
                    <td>
                        <button id='update_department_button'>Update</button>
                    </td>
                </tr>
            {% endif %}
        </table>

    </div>
</div>

<script type='text/javascript'>
    require([
        'dijit/form/Button',
        'stalker/thumbnailMenu',
        'stalker/dialogs',
        'stalker/dialogCaller',
        'dojo/domReady!'
    ], function (Button, thumbnailMenu, dialogs, dialogCaller) {

        // ********************************************************************
        // Update Department Button
        var department_summary_updater = function () {
            // refresh the content pane
            // get the content pane by id, alternatively we can use the parent of the button
            var content_pane = update_department_button.getParent();
            // refresh the pane
            content_pane.refresh();
        };


        {% if has_permission('Update_Department') %}

            var update_department_button = dialogCaller({
                label: 'Update',
                dialog_id: 'department_dialog',
                content_creator: dialogs.update_department_dialog,
                attach_to: 'update_department_button',
                related_field_updater: department_summary_updater,
                data_id: '{{ department.id }}'
            });
            update_department_button.startup();

            thumbnailMenu({
                targetNodeIds: ['department_avatar'],
                selector: '.thumbnail_menu',
                entity_id: {{ department.id }},
                related_field_updater: function () {
                    var content_pane = update_department_button.getParent();
                    if (content_pane != null) {
                        content_pane.refresh();
                    }
                }
            });
        {% endif %}

    });
</script>

