{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='view_departments'>
    {% if has_permission('Update_User') and has_permission('Update_Department') %}
        <button id='view_departments_append_department_button'>Append Department</button>
    {% endif %}
    <div id='departments_data_grid'></div>
</div>

<script type='text/javascript'>
    require([
        'dojo/store/Memory',
        'dojo/store/JsonRest',
        'dojo/data/ObjectStore',

        "dgrid/List",
        "dgrid/Grid",
        "dgrid/Selection",
        "dgrid/Keyboard",
        "dojo/_base/declare",

        'stalker/dialogs',
        'stalker/fieldUpdater',
        'stalker/dialogCaller',

        'dojo/domReady!'
    ], function (Memory, JsonRest, ObjectStore, List, Grid, Selection, Keyboard, declare, dialogs,
                 fieldUpdater, dialogCaller) {

        var StandardGrid = declare([Grid, Selection, Keyboard]);
        var departments_DataGrid = new StandardGrid({
            id: 'departments_data_grid',
            width: '100%',
            height: '100%'
        }, 'departments_data_grid');

        {% if has_permission('Update_User') and has_permission('Update_Department') %}
            var append_department_button = dialogCaller({
                label: 'Append Department',
                dialog_id: 'append_department_dialog',
                content_creator: dialogs.append_departments_dialog,
                attach_to: 'view_departments_append_department_button',
                related_field_updater: departments_DataGrid_updater,
                data_id: '{{ entity.id }}'
            });
            append_department_button.startup();
        {% endif %}


        function departments_DataGrid_updater() {

            var department_memory = new JsonRest({
                target: '/get/departments_byEntity/{{ entity.id }}'
            });

            department_memory.query().then(function (data) {

                var columns = [
                    {
                        label: "Thumbnail",
                        field: 'thumbnail',
                        sortable: false,
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {
                            return '<img width= "100px"; src="{{ request.static_url("stalker:static/stalker/images/Placeholder_Team.jpg") }}">';
                        }
                    },
                    {
                        field: 'name',
                        label: "Name",
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {

                            var targetPane = "'central_content'";
                            var address = "'view/department/" + value.id + "'";

                            return '<a href="javascript:redirectLink(' + targetPane + ',' + address + ');">' + value.name + '</a>';
                        }
                    }
                ];


                departments_DataGrid.renderArray(data);

                departments_DataGrid.set('columns', columns);

            });

        }

        departments_DataGrid_updater();
    });

</script>

