<div id='department_details_content_pane'>
  <div style="background-color: #662d91 " class="page_title"></div>
    {# Avatar #}
      {# Avatar #}
    <div id='user_avatar'
         class='thumbnail'>
      {% if not department.thumbnail %}
      <img src='{{ request.static_url("stalker:static/stalker/images/NoPicture.gif") }}' alt=''
              style='width:192px; height: 192px'>
      {% endif %}
    </div>

    {# Basic Info #}
  <div id='department_info' class='department_info'>
    <h2 style='margin: 0px; text-align: right;'>{{ department.name }}</h2>
    <table>
      <tr>
        <td style='text-align: right'><b>Lead</b></td>
        <td>&nbsp;</td>
        <td>({{ department.lead.name }})</td>
      </tr>
    </table>
  </div>
</div>
