<div id='department_split_container'>
  <div id='department_summary'>
      {# Summary #}
  </div>
  <div id='department_related_data_tab_container'>
      {# Tab View #}
  </div>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dijit/layout/SplitContainer',
    'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
          function(registry, SplitContainer, TabContainer, ContentPane){

            var department_SplitContainer = new SplitContainer({
              region: 'center',
              orientation: 'vertical',
              splitter: false

            }, 'department_split_container');

            var summary_content_pane = new ContentPane({
              title: 'Summarize',
              href: 'summarize/department/{{ department.id }}',
              region: 'top'
            },'department_summary');

            // **********************************************************************
            // Bottom Part - Complex Data View
            var users_content_pane = new ContentPane({
              title: 'Users',
              href: 'list/users/{{ department.id }}'
            });



            department_SplitContainer.addChild(summary_content_pane);
            department_SplitContainer.addChild(users_content_pane);
            department_SplitContainer.startup();

          });
</script>

