<div id='department_details_content_pane'>

    {# Avatar #}
  <div id='department_avatar' class='thumbnail'>No Avatar</div>

    {# Basic Info #}
  <div id='department_info' class='department_info'>
    <h2 style='margin: 0px; text-align: right;'>{{ department.name }}</h2>
    <table>
      <tr>
        <td style='text-align: right'><b>Lead</b></td>
        <td>&nbsp;</td>
        <td>({{ department.lead.name }})</td>
      </tr>
    </table>
  </div>
</div>