<!-- Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
-->
<div class='dijitDialogPaneContentArea'>
  <form id='update_image_format_form'>
    <table style='width: 100%'>
    
      {# NAME #}
      <tr>
        <td class='label_column'>
          <label for='image_format_name'>
            Name
          </label>
        </td>
        <td class='input_column'>
          <input id='image_format_name'>
        </td>
      </tr>
      
      {# WIDTH #}
      <tr>
        <td class='label_column'>
          <label for='image_format_width'>
            Width
          </label>
        </td>
        <td class='input_column'>
          <input id='image_format_width'>
        </td>
      </tr>
      
      {# HEIGHT #}
      <tr>
        <td class='label_column'>
          <label for='image_format_height'>
            Height
          </label>
        </td>
        <td class='input_column'>
          <input id='image_format_height'>
        </td>
      </tr>
      
      <tr>
        <td class='label_column'>
          <label for='image_format_pixel_aspect'>
            Pixel Aspect
          </label>
        </td>
        <td class='input_column'>
          <input id='image_format_pixel_aspect'>
        </td>
      </tr>
      
    </table>
  </form>
</div>
<div class='dijitDialogPaneActionBar'>
  <button id='image_format_update_button'></button>
  <button id='image_format_cancel_button'></button>
</div>
<script type='text/javascript'>
  require(['dijit/registry', 'dojo/store/Memory', 'dijit/form/Form',
    'dijit/form/ValidationTextBox', 'dijit/form/TextBox',
    'dijit/form/NumberTextBox', 'dijit/form/Button', 'stalker/submitForm',
    'dojo/domReady!'],
    function(registry, Memory, Form, ValidationTextBox, NumberTextBox, TextBox,
             Button, submitForm){
      
      // **********************************************************************
      // Form
      var update_image_format_form = new Form({
        id: 'update_image_format_form'
      }, 'update_image_format_form');
      update_image_format_form.startup();
      
      
      
      // **********************************************************************
      // Name
      var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        placeHolder: 'Enter a name',
        value: '{{ image_format.name }}',
        required: true
      }, 'image_format_name');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Width
      var width_numberTextBox = new NumberTextBox({
        name: 'width',
        label: 'Width',
        placeHolder: '',
        value: {{ image_format.width }},
        required: true
      }, 'image_format_width');
      width_numberTextBox.startup();
      
      
      
      // **********************************************************************
      // Height
      var height_numberTextBox = new NumberTextBox({
        name: 'height',
        label: 'Height',
        placeHolder: '',
        value: {{ image_format.height }},
        required: true
      }, 'image_format_height');
      height_numberTextBox.startup();
      
      
      
      
      // **********************************************************************
      // Pixel Aspect
      var pixel_aspect_numberTextBox = new NumberTextBox({
        name: 'pixel_aspect',
        label: 'Pixel Aspect',
        value: {{ image_format.pixel_aspect }},
        required: true
      }, 'image_format_pixel_aspect');
      pixel_aspect_numberTextBox.startup();
      
      
      
      
      // **********************************************************************
      // Update Button
      var update_button = new Button({
        label: 'Update',
        type: 'button',
        onClick: function(){
          submitForm({
            dialog: registry.byId('update_image_format_dialog'),
            form: update_image_format_form,
            additional_data: {submitted: 'update'},
            url: '{{ request.route_url('update_image_format', imf_id=image_format.id) }}',
            method: 'POST'
          });
        }
      }, 'image_format_update_button');
      update_button.startup();
      
      
      
      
      // **********************************************************************
      // Cancel Button
      var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function(){
          registry.byId('update_image_format_dialog').destroyRecursive();
        }
      }, 'image_format_cancel_button');
      cancel_button.startup();
      
  });
</script>

