{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{##}
{#<div style="background-color: #eeeeee; text-align: center">#}
{#    <h3>#}
{#        <strong>{{ studio.name }} ({{ studio.code }})</strong>#}
{#    </h3>#}
{#</div>#}

<div id='studio_details'>
    <div style="background-color: #8ecfb0;" class="page_title"></div>

    {# Thumbnail #}
    <div id='studio_summarize_thumbnail' class='thumbnail'>
        {% if not studio.thumbnail %}
            <img src='{{ request.static_url("stalker:static/stalker/images/T_NO_IMAGE.gif") }}'
                 alt=''
                 style='width:192px; height: auto;'>
        {% else %}
            <img src='{{ studio.thumbnail.full_path }}'
                 alt=''
                 style='width:192px; height: auto;'>
        {% endif %}
        <div class='thumbnail_menu'>&nbsp</div>
    </div>

    {# Basic Info #}
    <div id='studio_info' class='summary_info'>
              <h3 style='margin: 0px; text-align: left'>{{ studio.name }}</h3>
        <table>
            <tr>
                <td style='text-align: right'><strong></strong></td>
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td style='text-align: right'></td>
                <td>&nbsp;</td>
                <td>
                    {% if has_permission('Update_Studio') %}
                        <button id='update_studio_button'>Update</button>
                    {% endif %}
                </td>
            </tr>
        </table>

    </div>
    {#  Charts  #}
    <div>
        <div id='studio_summary_chart1'
             style='width: 192px;
                  height: 192px;
                  position: absolute;
                  right: 20px;'></div>
    </div>
</div>

<script type="text/javascript">
    require([
        'dojox/charting/Chart',
        'dojox/charting/themes/MiamiNice',
        'dojox/charting/plot2d/Pie',
        'dojox/charting/action2d/MoveSlice',

        'dijit/form/Button',

        'stalker/dialogs',
        'stalker/dialogCaller',
        'stalker/thumbnailMenu',

        'dojo/domReady!'
    ], function (Chart, theme, PiePlot, MoveSlice, Button, dialogs,
                 dialogCaller, thumbnailMenu) {

        // Create the chart within it's "holding" node
        var pieChart = new Chart('studio_summary_chart1');

        // Add the only/default plot
        pieChart.setTheme(theme);

        // Add the only/default plot
        pieChart.addPlot("default", {
            type: PiePlot, // our plot2d/Pie module reference as type value
            radius: 75,
            fontColor: "black",
            labelOffset: 0
        });

        var chartData = [100, 120, 50, 15, 80, 66, 90, 30];

        // Add the series of data
        pieChart.addSeries('January', chartData);

        // Create the slice mover
        var mag = new MoveSlice(pieChart, 'default');

        // Render the chart!
        pieChart.render();

        // UPDATE STUDIO BUTTON

        var studio_summary_updater = function () {
            // refresh the content pane
            // get the content pane by id, alternatively we can use the parent of the button
            var content_pane = update_studio_button.getParent();
            // refresh the pane
            content_pane.refresh();
        };

        {% if has_permission('Update_Studio') %}
            var update_studio_button = dialogCaller({
                label: 'Update',
                dialog_id: 'studio_dialog',
                content_creator: dialogs.update_studio_dialog,
                attach_to: 'update_studio_button',
                related_field_updater: studio_summary_updater,
                data_id: {{ studio.id }}
            });
            update_studio_button.startup();

            // thumbnail menu
            thumbnailMenu({
                targetNodeIds: ['studio_summarize_thumbnail'],
                selector: '.thumbnail_menu',
                entity_id: {{ studio.id }},
                related_field_updater: studio_summary_updater
            });
        {% endif %}

    });
</script>
