{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div class='dijitDialogPaneContentArea'>
    <form id='create_studio_form'>
        <table style='width: 100%;'>

            {# Name #}
            <tr>
                <td class='label_column'>
                    <label for='studio_name'>Name</label>
                </td>
                <td class='input_column'>
                    <input id='studio_name'>
                </td>
            </tr>

            {# Thumbnail #}
            <tr>
                <td class='label_column'>
                    <label for='studio_thumbnail'>Thumbnail</label>
                </td>
                <td class='input_column'>
                    <div id='studio_thumbnail_list'></div>
                    <div id='studio_thumbnail'></div>
                </td>
            </tr>

            {# Daily Working Hours #}
            <tr>
                <td class='label_column'>
                    <label for='studio_daily_working_hours'>Daily Working
                        Hours</label>
                </td>
                <td class='input_column'>
                    <input id='studio_daily_working_hours'>
                </td>
            </tr>

            {# Working Hours #}
            <tr>
                <td class='label_column'>
                    Working Hours
                </td>
                <td>
                    <table style='width: 525px; table-layout: fixed'>
                        {# Working Hours #}
                        {# Monday #}
                        <tbody>
                        <tr>
                            <td style='text-align: center'>Mon</td>

                            {# Tuesday #}
                            <td style='text-align: center'>Tue</td>

                            {# Wednesday #}
                            <td style='text-align: center'>Wed</td>

                            {# Thursday #}
                            <td style='text-align: center'>Thu</td>

                            {# Friday #}
                            <td style='text-align: center'>Fri</td>

                            {# Saturday #}
                            <td style='text-align: center'>Sat</td>

                            {# Sunday #}
                            <td style='text-align: center'>Sun</td>
                        </tr>

                        <tr>
                            {# Monday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_mon_start'></div>
                            </td>

                            {# Tuesday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_tue_start'></div>
                            </td>

                            {# Wednesday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_wed_start'></div>
                            </td>

                            {# Thursday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_thu_start'></div>
                            </td>

                            {# Firday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_fri_start'></div>
                            </td>

                            {# Saturday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_sat_start'></div>
                            </td>

                            {# Sunday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_sun_start'></div>
                            </td>
                        </tr>


                        <tr>
                            {# Monday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_mon_end'></div>
                            </td>

                            {# Tuesday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_tue_end'></div>
                            </td>

                            {# Wednesday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_wed_end'></div>
                            </td>

                            {# Thursday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_thu_end'></div>
                            </td>

                            {# Firday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_fri_end'></div>
                            </td>

                            {# Saturday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_sat_end'></div>
                            </td>

                            {# Sunday #}
                            <td class='input_column'>
                                <div id='studio_working_hours_sun_end'></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>
    </form>
</div>

<div class='dijitDialogPaneActionBar'>
    <button id='studio_ok_button'>Ok</button>
    <button id='studio_cancel_button'>Cancel</button>
</div>

<script type='text/javascript'>
require([
    'dijit/form/Form',
    'dijit/form/ValidationTextBox',
    'dijit/form/TextBox',
    'dijit/form/NumberSpinner',
    'dijit/form/FilteringSelect',
    'dijit/form/Button',
    'dijit/form/TimeTextBox',

    'dojox/form/Uploader',
    'dojox/form/uploader/FileList',

    'dojo/store/JsonRest',

    'dojo/date',
    'dojo/date/stamp',
    'dojo/date/locale',


    'stalker/submitForm',
    'stalker/util',

    'dojo/domReady!'
], function (Form, ValidationTextBox, TextBox, NumberSpinner, FilteringSelect,
             Button, TimeTextBox, Uploader, FileList, JsonRest,
             date, stamp, locale, submitForm, util) {

    var url;
    var name;
    var daily_working_hours;
    var studio_id;

    var default_start_value = 'T10:00:00';
    var default_end_value = 'T19:00:00';

    var mon_start_value = default_start_value;
    var mon_end_value = default_end_value;
    var tue_start_value = default_start_value;
    var tue_end_value = default_end_value;
    var wed_start_value = default_start_value;
    var wed_end_value = default_end_value;
    var thu_start_value = default_start_value;
    var thu_end_value = default_end_value;
    var fri_start_value = default_start_value;
    var fri_end_value = default_end_value;
    var sat_start_value = default_start_value;
    var sat_end_value = default_end_value;
    var sun_start_value = default_start_value;
    var sun_end_value = default_end_value;


    {# fill values based on the dialog mode #}
    {% if mode == 'CREATE' %}
        url = '{{ request.route_url("create_studio") }}';

    {% elif mode == 'UPDATE' %}
        url = '{{ request.route_url("update_studio") }}';
        studio_id = '{{ studio.id }}';
        name = '{{ studio.name }}';
        daily_working_hours = '{{ studio.daily_working_hours }}';


        mon_start_value = new Date( {{ studio.working_hours[0][0][0]}} * 60000);
        mon_end_value = new Date( {{ studio.working_hours[0][0][1]}} * 60000);
        tue_start_value = new Date( {{ studio.working_hours[1][0][0]}} * 60000);
        tue_end_value = new Date( {{ studio.working_hours[1][0][1]}} * 60000);
        wed_start_value = new Date( {{ studio.working_hours[2][0][0]}} * 60000);
        wed_end_value = new Date( {{ studio.working_hours[2][0][1]}} * 60000);
        thu_start_value = new Date( {{ studio.working_hours[3][0][0]}} * 60000);
        thu_end_value = new Date( {{ studio.working_hours[3][0][1]}} * 60000);
        fri_start_value = new Date( {{ studio.working_hours[4][0][0]}} * 60000);
        fri_end_value = new Date( {{ studio.working_hours[4][0][1]}} * 60000);
        sat_start_value = new Date( {{ studio.working_hours[5][0][0]}} * 60000);
        sat_end_value = new Date( {{ studio.working_hours[5][0][1]}} * 60000);
        {% if studio.working_hours[6] %}
            sun_start_value = new Date( {{ studio.working_hours[6][0][0]}} * 60000);
            sun_end_value = new Date( {{ studio.working_hours[6][0][1]}} * 60000);
        {% else %}
            sun_start_value = default_start_value;
            sun_end_value = default_start_value;
        {% endif %}
    {% endif %}


    // ********************************************************************
    // Form
    var create_studio_form = new Form({
        id: 'create_studio_form'
    }, 'create_studio_form');

    var dialog = create_studio_form.getParent();


    // ********************************************************************
    // Name
    var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        required: true,
        value: name,
        placeHolder: 'Enter a name'
    }, 'studio_name');
    name_textBox.startup();


    // ********************************************************************
    // Thumbnail
    var thumbnail_uploader = new dojox.form.Uploader({
        label: 'Browse...',
        multiple: false,
        uploadOnSelect: true,
        url: 'upload_thumbnail'
    }, 'studio_thumbnail');
    thumbnail_uploader.startup();

    var thumbnail_list = new dojox.form.uploader.FileList({
        uploader: thumbnail_uploader
    }, 'studio_thumbnail_list');
    thumbnail_list.startup();


    // ********************************************************************
    // Daily Working Hours
    var daily_working_hours_numberSpinner = NumberSpinner({
        name: 'dwh',
        value: daily_working_hours,
        constraints: {min: 0, max: 24}
    }, 'studio_daily_working_hours');
    daily_working_hours_numberSpinner.startup();


    // **************
    // Hours

    var time_text_box_creator = function (kwargs) {
        var name = kwargs['name'];
        var value = kwargs['value'] || 'T09:00:00';
        var attach_to = kwargs['attach_to'];

        var temp_timeTextBox = TimeTextBox({
            name: name,
            value: value,
            style: 'width: 75px;',
            constraints: {
                timePattern: 'HH:mm:ss',
                clickableIncrement: 'T01:00:00',
                visibleIncrement: 'T01:00:00',
                visibleRange: 'T01:00:00'
            }
        }, attach_to);
        temp_timeTextBox.startup();
        return temp_timeTextBox;
    };

    // Monday
    var mon_start = time_text_box_creator({
        value: mon_start_value,
        attach_to: 'studio_working_hours_mon_start'
    });

    var mon_end = time_text_box_creator({
        value: mon_end_value,
        attach_to: 'studio_working_hours_mon_end'
    });


    // Tuesday
    var tue_start = time_text_box_creator({
        value: tue_start_value,
        attach_to: 'studio_working_hours_tue_start'
    });

    var tue_end = time_text_box_creator({
        value: tue_end_value,
        attach_to: 'studio_working_hours_tue_end'
    });


    // Wednesday
    var wed_start = time_text_box_creator({
        value: wed_start_value,
        attach_to: 'studio_working_hours_wed_start'
    });

    var wed_end = time_text_box_creator({
        value: wed_end_value,
        attach_to: 'studio_working_hours_wed_end'
    });


    // Thursday
    var thu_start = time_text_box_creator({
        value: thu_start_value,
        attach_to: 'studio_working_hours_thu_start'
    });

    var thu_end = time_text_box_creator({
        value: thu_end_value,
        attach_to: 'studio_working_hours_thu_end'
    });


    // Friday
    var fri_start = time_text_box_creator({
        value: fri_start_value,
        attach_to: 'studio_working_hours_fri_start'
    });

    var fri_end = time_text_box_creator({
        value: fri_end_value,
        attach_to: 'studio_working_hours_fri_end'
    });


    // Saturday
    var sat_start = time_text_box_creator({
        value: sat_start_value,
        attach_to: 'studio_working_hours_sat_start'
    });

    var sat_end = time_text_box_creator({
        value: sat_end_value,
        attach_to: 'studio_working_hours_sat_end'
    });


    // Sunday
    var sun_start = time_text_box_creator({
        value: sun_start_value,
        attach_to: 'studio_working_hours_sun_start'
    });

    var sun_end = time_text_box_creator({
        value: sun_end_value,
        attach_to: 'studio_working_hours_sun_end'
    });


    // ********************************************************************
    // Ok Button
    var ok_button = new Button({
        label: 'OK',
        type: 'button',
        onClick: function () {
            submitForm({
                dialog: dialog,
                form: create_studio_form,
                additional_data: {
                    {% if mode=='UPDATE' %}
                        studio_id: studio_id,
                    {% endif %}
                    mon_start: mon_start.value.toUTCString(),
                    mon_end: mon_end.value.toUTCString(),
                    tue_start: tue_start.value.toUTCString(),
                    tue_end: tue_end.value.toUTCString(),
                    wed_start: wed_start.value.toUTCString(),
                    wed_end: wed_end.value.toUTCString(),
                    thu_start: thu_start.value.toUTCString(),
                    thu_end: thu_end.value.toUTCString(),
                    fri_start: fri_start.value.toUTCString(),
                    fri_end: fri_end.value.toUTCString(),
                    sat_start: sat_start.value.toUTCString(),
                    sat_end: sat_end.value.toUTCString(),
                    sun_start: sun_start.value.toUTCString(),
                    sun_end: sun_end.value.toUTCString()
                },
                url: url,
                method: 'POST'
            });
        }
    }, 'studio_ok_button');
    ok_button.startup();

    // ********************************************************************
    // Cancel Button
    var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function () {
            dialog.destroyRecursive();
        }
    }, 'studio_cancel_button');
    cancel_button.startup();

    create_studio_form.startup();

});
</script>

