{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}


<div id='studio_border_container'>
    <div id='studio_title'>
        {# Summary View #}
    </div>
    <div id='studio_summary'>
        {# Summary View #}
    </div>
    <div id='data_tab_container'>
        <div id="tasks_content_pane"></div>
        <div id='assets_content_pane'></div>
        <div id='sequences_content_pane'></div>
        <div id='shots_content_pane'></div>
    </div>
</div>


<script type='text/javascript'>
    require([
        'dijit/registry',
        'dojo/on',

        'dijit/layout/BorderContainer',
        'dijit/layout/TabContainer',
        'dojox/layout/ContentPane',

        'dojo/domReady!'],
            function (registry, on, BorderContainer, TabContainer,
                      ContentPane) {


                // **********************************************************************

                var studio_content_BorderContainer = new BorderContainer({
                    id: 'studio_border_container',
                    region: 'center',
                    orientation: 'vertical',
                    splitter: true,
                    resizable: false,
                    style: 'width:100%; height:100%; margin:0;'

                }, 'studio_border_container');


{#                var title_content_pane = new ContentPane({#}
{#                    title: 'Title',#}
{#                    content: '<div style="background-color: #eeeeee; text-align: center"><h3><strong>{{ studio.name }} ({{ studio.code }})</strong></h3></div>',#}
{#                    region: 'top',#}
{#                    splitter: true,#}
{#                    resizable: false,#}
{#                    style: 'width:100%; height:30px; padding: 0; background-color: #eeeeee;'#}
{#                }, 'studio_title');#}

                var summary_content_pane = new ContentPane({
                    title: 'Summarize',
                    href: 'summarize/studio/{{ studio.id }}',
                    region: 'top',
                    splitter: true,
                    style: 'width:100%; height:192px; padding: 0; background-color: #eeeeee;'
                }, 'studio_summary');


                // **********************************************************************
                // Bottom Part - Complex Data View
                var studio_related_data_tab_container = new TabContainer({
                    region: 'center',
                    style: 'width:100%; background-color: #8ecfb0; padding: 0; margin:0;'
                }, 'data_tab_container');

                {% if has_permission('List_Task') %}
                    var tasks_content_pane = new ContentPane({
                        id: 'tasks_content_pane',
                        title: 'Tasks',
                        default_href: 'list/tasks/{{ studio.id }}',
                        href: 'list/tasks/{{ studio.id }}',
                        style: ' padding: 0; margin:0;'
                    }, 'tasks_content_pane');

                    studio_related_data_tab_container.addChild(tasks_content_pane);
                {% endif %}



                {% if has_permission('List_User') %}
                    var users_content_pane = new ContentPane({
                        id: 'users_content_pane',
                        title: 'Users',
                        default_href: 'list/users/{{ studio.id }}',
                        href: 'list/users/{{ studio.id }}',
                        style: ' padding: 0; margin:0;'
                    });

                    studio_related_data_tab_container.addChild(users_content_pane);

                {% endif %}

                studio_related_data_tab_container.startup();


                //studio_content_BorderContainer.addChild(title_content_pane);
                studio_content_BorderContainer.addChild(summary_content_pane);
                studio_content_BorderContainer.addChild(studio_related_data_tab_container);
                studio_content_BorderContainer.startup();




                studio_related_data_tab_container.watch("selectedChildWidget", function (name,
                                                                                          oval,
                                                                                          nval) {
                    console.debug("selected child changed from ", nval.title, " to ", nval.href);

                    oval.set('href', '');
                    oval.refresh();

                    nval.set('href', nval.default_href);
                    nval.refresh();

                    //currentPane = nval;
                });


            });


</script>

