<div id='list_sequences'>
    {% if has_permission('Create_Sequence') %}
        <button id='list_sequences_create_sequence_button'>New Sequence
        </button>
    {% endif %}
    <div id='sequences_data_grid'></div>
</div>
<script type='text/javascript'>
    require([
        'dijit/registry',
        'dojo/data/ObjectStore',
        "dgrid/List",
        "dgrid/Grid",
        "dgrid/Selection",
        "dgrid/Keyboard",
        "dojo/_base/declare",
        "dgrid/editor",
        'dojo/store/Memory',
        'dojo/store/JsonRest',
        'stalker/dialogs',
        'stalker/fieldUpdater',
        'stalker/dialogCaller',
        'dojo/domReady!'
    ], function (registry, ObjectStore, List, Grid, Selection, Keyboard,
                 declare, editor, Memory, JsonRest, dialogs, fieldUpdater,
                 dialogCaller) {

        var StandardGrid = declare([Grid, Selection, Keyboard]);
        var sequences_data_grid = new StandardGrid({
            id: 'sequences_data_grid',
            width: '100%',
            autoHeight: true
        }, 'sequences_data_grid');

        {% if has_permission('Create_Sequence') %}
            var create_sequence_button = dialogCaller({
                label: 'New Sequence',
                dialog_id: 'sequence_dialog',
                content_creator: dialogs.create_sequence_dialog,
                attach_to: 'list_sequences_create_sequence_button',
                related_field_updater: sequence_data_grid_updater,
                data_id: '{{ project.id }}'
            });
            create_sequence_button.startup();
        {% endif %}


        //asset_data_grid_updater();

        var status_memory = new JsonRest({
            target: 'get/statuses_for/Sequence'
        });

        status_memory.query().then(function (data) {
            sequence_data_grid_updater();
        });


        function sequence_data_grid_updater() {

            var sequence_memory = new JsonRest({
                target: '/get/sequences/{{ project.id }}'
            });

            sequence_memory.query().then(function (data) {

                var columns = [
                    {
                        label: "Thumbnail",
                        field: 'thumbnail',
                        sortable: false,
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {
                            return '<img width= "100px"; src="{{ request.static_url("stalker:static/stalker/images/Placeholder_shot.png") }}">';
                        }
                    },
                    {
                        field: 'status',
                        label: "Status",
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (item) {

                            var bg_color = '#' + item.status_bg_color.toString(16);
                            var fg_color = '#' + item.status_fg_color.toString(16);


                            return '<span style="color:' + bg_color + '; background-color:' + bg_color + '; ">....</span><span style="color:' + bg_color + '; ">  ' + item.status + '</span>';
                        }

                    },
                    {
                        field: 'name',
                        label: "Name",
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {


                            {% if has_permission('Read_Sequence')%}

                                var targetPane = "'sequences_content_pane'";
                                var address = "'view/sequence/" + value.id + "'";

                                return '<a href="javascript:redirectLink(' + targetPane + ',' + address + ');">' + value.name + '</a>';
                            {% else %}

                                return  value.name;

                            {% endif %}

                        }
                    },
                    {
                        field: 'user_name',
                        label: "Created By",
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {
                            {% if has_permission('Read_User')%}

                                var targetPane = "'central_content'";
                                var address = "'view/user/" + value.user_id + "'";

                                return '<a href="javascript:redirectLink(' + targetPane + ',' + address + ');">' + value.user_name + '</a>';
                            {% else %}

                                return  value.user_name;

                            {% endif %}
                        }
                    }
                ];

                sequences_data_grid.renderArray(data);
                sequences_data_grid.set('columns', columns);

            });
        }
    });
</script>

