<div id='sequence_details_content_pane'>
    <div style="background-color: #ed008c " class="page_title"></div>
    {# Avatar #}
    <div id='sequence_thumbnail' class='thumbnail'>
        {% if not sequence.thumbnail %}
        <img src='{{ request.static_url("stalker:static/stalker/images/Placeholder_shot.png") }}'
             alt=''
             style='width:120px;'>
    {% endif %}
    </div>

    <div id='sequence_summary_chart1'
         style='width: 100px;
                  height: 100px;
                  position: absolute;
                  right: 0;'></div>

    {# Basic Info #}
    <div id='sequence_info' class='summary_info'>
        <h2 style='margin: 0; text-align: left'>{{ sequence.name }}</h2>
        <h5 style='margin: 0;'>({{ sequence.code }})</h5>
        <table>
            <tr>
                <td style='text-align: right'><strong>Project</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="javascript:redirectLink('central_content','view/project/{{ sequence.project.id }}');">{{ sequence.project.name }}</a>
                </td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Status</strong></td>
                <td>&nbsp;</td>
                <td>{{ sequence.status.name }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Description</strong></td>
                <td>&nbsp;</td>
                <td>{{ sequence.description }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Created By</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="javascript:redirectLink('central_content','view/user/{{ sequence.created_by.id }}');">{{ sequence.created_by.name }}</a>
                </td>
            </tr>
            <tr>
                <td style='text-align: right'></td>
                <td>&nbsp;</td>
                <td>
					{% if has_permission('Update_Sequence') %}
                     <button id='update_sequence_button'>Update</button>
					{% endif %}                
				</td>
            </tr>
        </table>
    </div>
    {#  Charts  #}

</div>

<script type="text/javascript">
    require([
        'dojox/charting/Chart',
        'dojox/charting/themes/Tufte',
        'dojox/charting/plot2d/Pie',
        'dojox/charting/action2d/MoveSlice',
        'dijit/form/Button',
        'stalker/dialogs',
        'stalker/dialogCaller',
        'dojo/domReady!'
    ], function (Chart, theme, PiePlot, MoveSlice, Button, dialogs,
                 dialogCaller) {

        // Create the chart within it's "holding" node
        var pieChart = new Chart('sequence_summary_chart1');

        // Add the only/default plot
        pieChart.setTheme(theme);

        // Add the only/default plot
        pieChart.addPlot("default", {
            type: PiePlot, // our plot2d/Pie module reference as type value
            radius: 40,
            fontColor: "black",
            labelOffset: 0
        });

        var chartData = [1000, 12000];

        // Add the series of data
        pieChart.addSeries('January', chartData);

        // Create the slice mover
        var mag = new MoveSlice(pieChart, 'default');

        // Render the chart!
        pieChart.render();

        var sequence_summary_updater = function () {
            // refresh the content pane
            // get the content pane by id, alternatively we can use the parent of the button
            var content_pane = update_sequence_button.getParent();
            // refresh the pane
            content_pane.refresh();
        };

        {% if has_permission('Update_Sequence') %}
            // UPDATE STRUCTURE BUTTON
            var update_sequence_button = dialogCaller({
                label: 'Update',
                dialog_id: 'update_sequence_dialog',
                content_creator: dialogs.update_sequence_dialog,
                attach_to: 'update_sequence_button',
				related_field_updater: sequence_summary_updater,
                data_id: {{ sequence.id }}
            });
            update_sequence_button.startup();
        {% endif %}



    });
</script>
