<div class='dijitDialogPaneContentArea'> 
  <form id='create_sequence_form'>
    <table style='width: 100%;'>
      
      {# NAME #}
      <tr>
        <td class='label_column'>
          <label for='sequence_name'>Name</label>
        </td>
        <td class='input_column'>
          <input id='sequence_name'>
        </td>
      </tr>
      
      {# CODE #}
      <tr>
        <td class='label_column'>
          <label for='sequence_code'>Code</label>
        </td>
        <td class='input_column'>
          <input id='sequence_code'>
        </td>
      </tr>
      
      {# DESCRIPTION #}
      <tr>
        <td class='label_column'>
          <label for='sequence_description'>Description</label>
        </td>
        <td class='input_column'>
          <input id='sequence_description'>
        </td>
      </tr>
      
      {# TYPE #}
{#      <tr>#}
{#        <td class='label_column'>#}
{#          <label for='sequence_type'>Type</label>#}
{#        </td>#}
{#        <td class='input_column'>#}
{#          <input id='sequence_type'>#}
{#        </td>#}
{#      </tr>#}
      
      {# PROJECT #}
      <tr>
        <td class='label_column'>
          <label for='sequence_project'>Project</label>
        </td>
        <td class='input_column'>
          <input id='sequence_project'>
        </td>
      </tr>
      
      {# STATUS LIST #}
      <tr>
        <td class='label_column'>
          <label for='sequence_status_list'>Status List</label>
        </td>
        <td class='input_column'>
          <input id='sequence_status_list'>
        </td>
        <td class='button_column'>
          <button id='sequence_create_status_list_button'>New</button>
          <button id='sequence_update_status_list_button'>Update</button>
        </td>
      </tr>
      
      {# STATUS #}
      <tr>
        <td class='label_column'>
          <label for='sequence_status'>Status</label>
        </td>
        <td class='input_column'>
          <input id='sequence_status'>
        </td>
      </tr>

    </table>      
  </form>
</div>

<div class='dijitDialogPaneActionBar'>
  <button id='sequence_submit_button'>Submit</button>
  <button id='sequence_cancel_button'>Cancel</button>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dojo/store/Memory', 'dijit/form/Form',
    'dijit/form/ValidationTextBox', 'dijit/form/TextBox',
    'dijit/form/FilteringSelect', 'dijit/form/ComboBox', 'dijit/form/Button',
    'dojo/store/JsonRest', 'stalker/submitForm', 'stalker/fieldUpdater',
    'stalker/dialogCaller', 'dojo/domReady!'],
    function(registry, Memory, Form, ValidationTextBox, TextBox,
             FilteringSelect, ComboBox, Button, JsonRest, submitForm,
             fieldUpdater, dialogCaller){
      
      // **********************************************************************
      // Form
      var create_sequence_form = new Form({
        id: 'create_sequence_form'
      }, 'create_sequence_form');
      
      
      
      
      // **********************************************************************
      // Name
      var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        placeHolder: 'Enter a name',
        required: true
      }, 'sequence_name');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Code
      var code_textBox = new TextBox({
        name: 'code',
        label: 'Code',
        value: '',
        placeHolder: 'Enter a code'
      }, 'sequence_code');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Description
      var description_textBox = new TextBox({
        name: 'description',
        label: 'Description',
        placeHolder: 'Enter description'
      }, 'sequence_description');
      description_textBox.startup();
      
      
      
      // TODO: add 'add field' controls and let the user to add a wide variaty of other standard fields
  {#    // **********************************************************************#}
  {#    // Type#}
  {#    var type_memory = new Memory({#}
  {#      data: [#}
  {#        {% for type_ in types %}#}
  {#          {#}
  {#            name: '{{type_.name}}',#}
  {#            id: '{{ type_.id }}'#}
  {#          },#}
  {#        {% endfor %}#}
  {#      ]#}
  {#    });#}
  {#    #}
  {#    var type_comboBox = new ComboBox({#}
  {#      name: 'type',#}
  {#      required: true,#}
  {#      store: type_memory#}
  {#    }, 'sequence_type');#}
  {#    #}
  {#    // set value of Type#}
  {#    if (type_memory.data[0] != undefined ){#}
  {#      try {#}
  {#        type_comboBox.attr('value', type_memory.data[0].name);#}
  {#      } catch(e) {#}
  {#        // don't do anything#}
  {#      }#}
  {#    }#}
  {#    type_comboBox.startup();#}
      
      
      
      
      // **********************************************************************
      // Project

      var project_select;

      {% if project %}
        project_select = new TextBox({
          name: 'project_id',
          label: 'Project',
          value: '{{ project.name }} ({{ project.entity_type }})',
          disabled: true
        }, 'sequence_project');
        project_select.startup();
      {% else %}
        var project_memory = new Memory({
          data: [
            {% for project in projects %}
              {
                name: '{{ project.name }}',
                id: '{{ project.id }}'
              },
            {% endfor %}
          ]
        });

        project_select = new FilteringSelect({
          name: 'project_id',
          required: true,
          store: project_memory,
          placeHolder: 'Select A Project'
        }, 'sequence_project');
        project_select.startup();
      {% endif %}
      
      
      
      // **********************************************************************
      // Status List
      //
      // The Memory
      var status_list_memory = new JsonRest({
        target: 'get/status_lists_for/Sequence'
      });
      
      // The Field
      var status_list_filtering_select = new FilteringSelect({
        name: 'status_list_id',
        required: true,
        label: 'Status List',
        onChange: function(){
          status_updater({animate: true});
        }
      }, 'sequence_status_list');
      status_list_filtering_select.startup();
      
      // The Updater
      var status_list_field_updater = fieldUpdater({
        'memory': status_list_memory,
        'widget': status_list_filtering_select
      });
      status_list_field_updater({animate: false});
      
      // New Status List Button
      var create_status_list_button = dialogCaller({
        label: 'New',
        dialog_id: 'create_status_list_dialog',
        content_creator: create_status_list_dialog_creator,
        attach_to: 'sequence_create_status_list_button',
        related_field_updater: status_list_field_updater,
        data_id: 'Sequence'
      });
      create_status_list_button.startup();
      
      // Update Status List Button
      var update_status_list_button = dialogCaller({
        label: 'Update',
        dialog_id: 'update_status_list_dialog',
        content_creator: update_status_list_dialog_creator,
        attach_to: 'sequence_update_status_list_button',
        related_field_updater: status_list_field_updater,
        data_id: function(){
          var widget = registry.byId('sequence_status_list');
          return widget.get('value');
        }
      });
      update_status_list_button.startup();
      
      
      
      
      // **********************************************************************
      // Status
      var status_memory = new JsonRest({
        target: 'get/statuses_of/'
      });
      
      // The Field
      var status_filtering_select = new FilteringSelect({
        name: 'status_id',
        required: true,
        store: status_memory,
        label: 'Status',
        disabled: true
      }, 'sequence_status');
      status_filtering_select.startup();
      
      // The Updater
      var status_updater = fieldUpdater({
        memory: status_memory,
        query_data: function(){
          status_filtering_select.set('disabled', false);
          var widget = registry.byId('sequence_status_list');
          return widget.get('value');
        },
        widget: status_filtering_select
      });
      
      
      // **********************************************************************
      // Submit Button
      var submit_button = new Button({
        label: 'OK',
        type: 'button',
        onClick: function(){
          submitForm({
            dialog: registry.byId('create_sequence_dialog'),
            form: create_sequence_form,
            additional_data: {
              submitted: 'create'
            },
            {% if project %}
              url: 'create/sequence/{{project.id}}',
            {% else %}
              url: 'create/sequence/' + project_select.value,
            {% endif %}
            method: 'POST'
          });
        }
      }, 'sequence_submit_button');
      submit_button.startup();
      
      
      
      
      // **********************************************************************
      // Cancel Button
      var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function(){
          registry.byId('create_sequence_dialog').destroyRecursive();
        }
      }, 'sequence_cancel_button');
      cancel_button.startup();
      
      create_sequence_form.startup();
      
  });
</script>

