@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-r-webfont.woff') format('woff'),
    url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-b-webfont.woff') format('woff'),
    url('../fonts/ubuntu-b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('../fonts/ubuntu-bi-webfont.eot');
    src: url('../fonts/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-bi-webfont.woff') format('woff'),
    url('../fonts/ubuntu-bi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('../fonts/ubuntu-c-webfont.eot');
    src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-c-webfont.woff') format('woff'),
    url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: 'Ubuntu', "Bitstream Vera Sans", 'DejaVu Sans', 'Tahoma', 'sans-serif';
    background-color: #c0c0c0;
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none; 
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 14em;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 12px;
    line-height: 16px;
}

ul li ol {
    font-size: 12px;
    line-height: 16px;
}

#small_text {
    font-size: 10px;
    line-height: 14px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}

#central_content {
    bottom: 24px;
    position: absolute;
    top: 40px;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.label_column {
    text-align: right;
    font-weight: bold;
}

.input_column {
    width: auto;
}

.button_column {
    float: left;
}

#header{
    background-color: #2A2C2E;
    clear: both;
    color: white;
    float: left;
    height: 24px;
    margin: 0;
    width: 100%;
}

#header #stalker_logo{
    float: left;
    clear: both;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 3px;
}

#mebar {
    float: right;
    margin-right: 20px;
    margin-top: 6px;
    color: lightgrey;
    font-weight: bold;
    cursor: pointer;
}

#mebar:hover {
    color:white;
}

#avatar {
    width: 96px;
    height: 96px;
    /*background-image: "{{ request.static_url('stalker:static/images/NoPicture.gif') }}";*/
}
/*#header #user_menu {*/
    /*border: 0 none;*/
    /*float: left;*/
    /*height: 30px;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*top: 11px;*/
    /*width: 50%;*/
/*}*/

#footer{
    position:absolute;
    height: 24px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color: #e3e3e3;
    color: #a0a0a0;
}

#main_menu{
    background-color: #A0A0A0;
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    width: 18%;
}

#main_menu li {
    list-style: none;
}

#main_menu #menu{
    /*margin-left: 12px;*/
}

#main_menu ul{
    padding-left: 20px;
}

#main_menu li {
    padding-left: 20px;
}

#main_view {
    float: left;
    height: 100%;
    width: 100%;
}

#top_menu {
    background-color: #e0e0e0;
    clear: both;
    float: left;
    height: 32px;
    width: 100%;
}

#search {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
    width: 235px;
}

#search #search_label {
    float: left;
    left: 4px;
    position: relative;
    top: 3px;
}

#search #search_form {
    float: right;
}

#search input {
    border: medium none transparent;
    border-radius: 12px 12px 12px 12px;
    font-size: 12px;
    height: 20px;
    width: 182px;
}

.project_thumbnail {
    width: 192px;
    height: 192px;
    border: 1px;
    border-color: black;
    background-color: #d3d3d3;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.project_info {
    position: absolute;
    clear: both;
    left: 204px;
}
