@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-r-webfont.woff') format('woff'),
    url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-b-webfont.woff') format('woff'),
    url('../fonts/ubuntu-b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('../fonts/ubuntu-bi-webfont.eot');
    src: url('../fonts/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-bi-webfont.woff') format('woff'),
    url('../fonts/ubuntu-bi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('../fonts/ubuntu-c-webfont.eot');
    src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-c-webfont.woff') format('woff'),
    url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Ubuntu', "Bitstream Vera Sans", 'DejaVu Sans', 'Tahoma', 'sans-serif';
    background-color: #c0c0c0;
    font-size: 12px;
    line-height: 16px;
    margin: 0px;
    -moz-user-select: none;
    -webkit-user-select: none; 
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 12px;
    line-height: 16px;
}

ul li ol {
    font-size: 12px;
    line-height: 16px;
}

#small_text {
    font-size: 10px;
    line-height: 14px;
}

#content{
    bottom: 24px;
    position: absolute;
    top: 40px;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none; 
}

#login_window {
    background-color: #808080;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    height: 192px;
    left: 50%;
    margin-left: -160px;
    margin-top: -96px;
    position: absolute;
    top: 50%;
    width: 320px;
}

#login_window #title {
    position: relative;
    text-align: center;
    width: 100%;
}

#column1 {
    float: left;
    line-height: 33px;
    margin-left: 13px;
    margin-right: 8px;
    margin-top: 25px;
    text-align: right;
    width: 90px;
}

.indented_input {
    text-indent: 11px;
}

#column2 {
    float: left;
    line-height: 30px;
    margin-top: 25px;
    position: relative;
    width: 150px;
}

#login_window input {
    border: medium none transparent;
    border-radius: 12px 12px 12px 12px;
    float: left;
    font-size: 12px;
    height: 24px;
    margin-bottom: 11px;
    width: 182px;
}

#login_window #login_button input {
    border: medium none transparent;
    border-radius: 12px 12px 12px 12px;
    float: right;
    font-size: 12px;
    height: 24px;
    margin-bottom: 11px;
    width: 75px;
    color: #ffffff;
    background: -moz-linear-gradient(top, #0072bc, #0054a6);
    background: -webkit-gradient(linear, left top, left bottom, from(#0072bc), to(#0054a6));
}

#login_window #message {
    background-color: #EE1C24;
    border-radius: 10px 10px 10px 10px;
    margin-top: 42px;
    text-align: center;
}

#header{
    background-color: #448CCB;
    clear: both;
    color: white;
    float: left;
    height: 40px;
    margin: 0;
    width: 100%;
    font-family: UbuntuBold;
}

#header #stalker_logo{
    float: left;
    width: 25%;
}

#header #stalker_name {
    clear: both;
    float: left;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 11px;
}

#header #stalker_version {
    float: left;
    font-size: 12px;
    left: 3px;
    position: relative;
    top: 15px;
}

#header #user_menu {
    border: 0 none;
    float: left;
    height: 30px;
    position: relative;
    text-align: center;
    top: 11px;
    width: 50%;
}

#header #user_menu a {
    text-decoration: none;
}

#header #user_menu a:visited {
    text-decoration: none;
    color: inherit;
}

#header #user_menu a:link {
    text-decoration: none;
}

#header #user_menu a:active {
    text-decoration: none;
}

#header #user_menu a:hover {
    text-decoration: underline;
}

#footer{
    position:absolute;
    height: 24px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color: #e3e3e3;
    color: #a0a0a0;
}

#main_menu{
    background-color: #A0A0A0;
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    width: 18%;
}

#main_menu li {
    list-style: none;
}

#main_menu #menu{
    /*margin-left: 12px;*/
}

#main_menu ul{
    padding-left: 20px;
}

#main_menu li {
    padding-left: 20px;
}

#main_view {
    float: left;
    height: 100%;
    width: 82%;
}

#top_menu {
    background-color: #e0e0e0;
    clear: both;
    float: left;
    height: 32px;
    width: 100%;
}

#search {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
    width: 235px;
}

#search #search_label {
    float: left;
    left: 4px;
    position: relative;
    top: 3px;
}

#search #search_form {
    float: right;
}

#search input {
    border: medium none transparent;
    border-radius: 12px 12px 12px 12px;
    font-size: 12px;
    height: 20px;
    width: 182px;
}

#popup_area {
    height: 100%;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 100;
    visibility: hidden;
}

#popup_area_bg {
    background-color: black;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 101;   
}

#popup_window {
    background-color: #c0c0c0;
    height: 300px;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 400px;
    z-index: 102;
    opacity: 1.0;
    clear: both;
    line-height: 24px;
}

#popup_window input {
    border: medium none transparent;
    border-radius: 12px 12px 12px 12px;
}

/*for popup windows*/
.window_header {
    background-color: #448CCB;
    color: white;
    font-family: UbuntuBold;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 100%;
}

.window_close_button {
    color: white;
    font-family: UbuntuBold;
    left: 8px;
    position: absolute;
    top: 3px;
}
