<div class='dijitDialogPaneContentArea'>
  <form id='add_user_form'>
    <table style='width: 100%;'>
      
      {# NAME #}
      <tr>
        <td class='label_column'>
          <label for='user_name'>Name</label>
        </td>
        <td class='input_column'>
          <input id='user_name'>
        </td>
      </tr>
      
      {# LOGIN NAME #}
      <tr>
        <td class='label_column'>
          <label for='user_login'>Login</label>
        </td>
        <td class='input_column'>
          <input id='user_login'>
        </td>
      </tr>
      
      {# EMAIL #}
      <tr>
        <td class='label_column'>
          <label for='user_email'>E-mail</label>
        </td>
        <td class='input_column'>
          <input id='user_email'>
        </td>
      </tr>
      
      {# PASSWORD #}
      <tr>
        <td class='label_column'>
          <label for='user_password'>Password</label>
        </td>
        <td class='input_column'>
          <input id='user_password'>
        </td>
      </tr>
      
      {# DEPARTMENTS #}
      <tr>
        <td class='label_column'>
          <label for='user_departments'>Departments</label>
        </td>
        <td class='input_column'>
          <input id='user_departments'>
        </td>
        <td class='button_column'>
          <button id='user_add_department_button'>Add</button>
        </td>
      </tr>
      
      {# GROUPS #}
      <tr>
        <td class='label_column'>
          <label for='user_groups'>Groups</label>
        </td>
        <td class='input_column'>
          <input id='user_groups'>
        </td>
      </tr>
      
      {# TAGS #}
      <tr>
        <td class='label_column'>
          <label for='user_tags'>Tags</label>
        </td>
        <td class='input_column'>
          <input id='user_tags'>
        </td>
      </tr>
      
    </table>
  </form>
</div>

<div class='dijitDialogPaneActionBar'>
  <button id='project_add_button'>Add</button>
  <button id='project_cancel_button'>Cancel</button>
</div>

<script type="text/javascript">
  require([])
</script>
