{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<!DOCTYPE html>
<html>
<head>
    <title>Stalker v{{ stalker.__version__ }}</title>
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
    <meta name='keywords' content='python web application'/>
    <meta name='description' content='pyramid web application'/>
    <link rel='shortcut icon'
          href='{{ request.static_url("stalker:static/stalker/images/favicon.ico") }}'/>
    <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
          href='{{ request.static_url("stalker:static/stalker/css/stalker.css") }}'/>

    {# load jQuery and jQuery Gantt first#}
    <link rel=stylesheet
          href='{{ request.static_url("stalker:static/jQueryGantt/libs/dateField/jquery.dateField.css") }}'
          type="text/css">
    <link rel=stylesheet
          href='{{ request.static_url("stalker:static/jQueryGantt/css/gantt.css") }}'
          type="text/css">

    <script src='{{ request.static_url("stalker:static/jquery/1.7/jquery.min.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jqueryui/1.8/jquery-ui.min.js") }}'></script>

    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/jquery.livequery.min.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/jquery.timers.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/platform.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/date.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/i18nJs.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/dateField/jquery.dateField.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/libs/JST/jquery.JST.js") }}'></script>

    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttUtilities.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttProject.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttTask.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttDrawer.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttGridEditor.js") }}'></script>
    <script src='{{ request.static_url("stalker:static/jQueryGantt/ganttMaster.js") }}'></script>

    {# DOJO COMPRESSED #}
    <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
          href='{{ request.static_url("stalker:static/dijit/themes/claro/claro.css") }}'/>
    <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
          href='{{ request.static_url("stalker:static/dojox/grid/resources/claroGrid.css") }}'/>
    <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
          href='{{ request.static_url("stalker:static/dojox/form/resources/UploaderFileList.css") }}'/>

    {# DOJO MODIFIED CSS #}
    <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
          href='{{ request.static_url("stalker:static/stalker/css/dojo_modified.css") }}'/>

    {# DOJO JAVA SCRIPTS #}
    <script type='text/javascript'
            data-dojo-config="async: true, parseOnLoad: true"
            src='{{ request.static_url("stalker:static/dojo/dojo.js") }}'>
    </script>

</head>
<body class='claro'>
{% block body %}
    <div id='appLayout' class='demoLayout'>
        <div id='header' class='edgePanel' style="overflow: hidden">
            {% block header %}
                <div id='stalker_logo'>
                    <a href="/" style='color: #000000'>STALKER</a>
                </div>

                <div id='stalkerMenuBar' style='color: #000000'></div>

                <div id='mebar'>
                    <div style='color: #000000' id='mebutton'></div>
                </div>

            {% endblock %}
        </div>

        <div style="margin-top: 0" id='central_content' class='centralPanel'>
            {% block content %}
                <div id='main_view'>
                    {% block main_view %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        <div id='footer' class='edgePanel'>
            {% block footer %}
                <div class='footer'>&copy; Copyright 2009-2013, Erkan Ozgur
                                           Yilmaz. <span
                            style='font-size: 12px;'>Stalker v{{ stalker.__version__ }}</span>
                </div>
            {% endblock %}
        </div>
    </div>


    <script type='text/javascript'>

        var redirectLinkInParent = function (targetPane, address) {

            var tab_container = dijit.byId('data_tab_container');
            var contentPane = dijit.byId(targetPane);

            if (contentPane) {
                if (contentPane != tab_container.selectedChildWidget) {
                    tab_container.selectChild(contentPane); //Show the selected Tab
                }
            }
            else {
                contentPane = tab_container.selectedChildWidget;
            }

            contentPane.set('href', address);
            contentPane.refresh();

        };

        var redirectLink = function (targetPane, address) {
            var contentPane = dijit.byId(targetPane);
            contentPane.set('href', address);
            contentPane.refresh();
        };

        require([
            'dijit/layout/BorderContainer',
            'dojox/layout/ContentPane',

            'dijit/MenuBar',
            'dijit/MenuBarItem',
            'dijit/MenuSeparator',
            'dijit/PopupMenuBarItem',
            'dijit/PopupMenuItem',
            'dijit/MenuItem',
            'dijit/DropDownMenu',
            'dijit/form/DropDownButton',
            'dijit/TooltipDialog',
            'dijit/popup',

            'dojo/on',


            'dojo/store/JsonRest',
            'dojo/store/Memory',
            'dojo/_base/fx',

            'stalker/dialogs',
            'stalker/dialogCaller',
            'stalker/dialogCreator',
            'stalker/teamMenuCreator',

            'dojo/domReady!'
        ], function (BorderContainer, ContentPane, MenuBar, MenuBarItem,
                     MenuSeparator, PopupMenuBarItem, PopupMenuItem, MenuItem,
                     DropDownMenu, DropDownButton, TooltipDialog, popup, on,
                     JsonRest, Memory, fx, dialogs, dialogCaller,
                     dialogCreator, teamMenuCreator) {


            // ******************************************************************
            // create the BorderContainer and attach it to our appLayout div
            var appLayout = new BorderContainer({
                design: 'headline',
                style: 'padding: 0px',
                splitter: true,
                gutters: false
            }, 'appLayout');


            // ******************************************************************
            // Header
            var header_pane = new ContentPane({
                name: 'header_pane',
                region: 'top',
                style: 'height: 24px; padding: 0px;',
                executeScripts: true
            }, 'header');
            appLayout.addChild(header_pane);

            // ******************************************************************
            // Main Content
            var central_content_pane = new ContentPane({
                name: 'central_content_pane',
                region: 'center',
                style: 'padding: 0px',
                href: 'view/user/{{ user.id }}',
                executeScripts: true
            }, 'central_content');
            appLayout.addChild(central_content_pane);


            // ******************************************************************
            // Footer
            var footer_content_pane = new ContentPane({
                name: 'footer_pane',
                region: 'bottom',
                style: 'height: 14px; padding: 0px'
            }, 'footer');
            footer_content_pane.startup();
            appLayout.addChild(footer_content_pane);


            // ******************************************************************
            // MenuBar
            var stalker_MenuBar = new MenuBar({

            }, 'stalkerMenuBar');


            // ******************************************************************
            // HOME

            stalker_MenuBar.addChild(new MenuBarItem({
                label: "HOME ",
                onClick: function () {
                    central_content_pane.set(
                            'href',
                            'view/user/{{ user.id }}'
                    );
                    central_content_pane.refresh();
                }
            }));


            // ******************************************************************
            // STUDIO

            var studio_DropDownMenu = new DropDownMenu({

            });

            {% if not studio %}
                studio_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'Create Studio',
                            dialog_id: 'filename_template_dialog',
                            content_creator: dialogs.create_studio_dialog,
                            widget_type: 'MenuItem'
                        })
                );
            {% else %}
                studio_DropDownMenu.addChild(
                        new MenuItem({
                            label: '{{ studio.name }}',
                            style: 'font-weight: bold'
                        })
                );
            {% endif %}



            studio_DropDownMenu.addChild(new MenuItem({
                label: "Overview Projects"
            }));

            studio_DropDownMenu.addChild(new MenuItem({
                label: "Overview Crew"
            }));

            studio_DropDownMenu.addChild(
                    new MenuSeparator({})
            );

            //------------
            // SETTINGS
            var settings_DropDownMenu = new DropDownMenu({
                style: 'display: none;'
            });

            // ------------
            // Filename Template
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Filename Tamplate',
                        dialog_id: 'filename_template_dialog',
                        content_creator: dialogs.create_filename_template_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            // ------------
            // Image Format
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Image Format',
                        dialog_id: 'image_format_dialog',
                        content_creator: dialogs.create_image_format_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            // -------
            // Repository
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Repository',
                        dialog_id: 'repository_dialog',
                        content_creator: dialogs.create_repository_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            // -------
            // Status
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Status',
                        dialog_id: 'status_dialog',
                        content_creator: dialogs.create_status_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            // -------
            // Status List
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Status List',
                        dialog_id: 'status_list_dialog',
                        content_creator: dialogs.create_status_list_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            // -------
            // Structure
            settings_DropDownMenu.addChild(
                    dialogCaller({
                        label: 'Structure',
                        dialog_id: 'structure_dialog',
                        content_creator: dialogs.create_structure_dialog,
                        widget_type: 'MenuItem'
                    })
            );

            studio_DropDownMenu.addChild(new PopupMenuItem({
                label: "New",
                popup: settings_DropDownMenu
            })
            );

            stalker_MenuBar.addChild(new PopupMenuBarItem({
                label: "STUDIO",
                popup: studio_DropDownMenu
            }));


            // ******************************************************************
            // PROJECTS

            var projects_DropDownMenu = new DropDownMenu({

            });

            stalker_MenuBar.addChild(new PopupMenuBarItem({
                label: "PROJECTS",
                popup: projects_DropDownMenu
            }));

            // Project Menu
            var create_project_setting_DropDownMenu = function (pID) {

                var project_setting_DropDownMenu = new DropDownMenu({

                });

                // --------
                // View Project
                project_setting_DropDownMenu.addChild(
                        new MenuItem({
                            label: 'View',
                            dataId: pID,
                            onClick: function () {
                                central_content_pane.set(
                                        'href',
                                        'view/project/' + this.get('dataId')
                                );
                                central_content_pane.refresh();
                            }
                        })
                );

                // --------
                // Update Project
                project_setting_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'Update',
                            dialog_id: 'project_dialog',
                            content_creator: dialogs.update_project_dialog,
                            widget_type: 'MenuItem',
                            data_id: pID

                        })
                );

                project_setting_DropDownMenu.addChild(
                        new MenuSeparator({})
                );

                // --------
                // Asset
                project_setting_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'New Asset',
                            dialog_id: 'asset_dialog',
                            content_creator: dialogs.create_asset_dialog,
                            widget_type: 'MenuItem',
                            data_id: pID

                        })
                );

                // --------
                // Sequence
                project_setting_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'New Sequence',
                            dialog_id: 'sequence_dialog',
                            content_creator: dialogs.create_sequence_dialog,
                            widget_type: 'MenuItem',
                            data_id: pID
                        })
                );

                // ----
                // Shot
                project_setting_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'New Shot',
                            dialog_id: 'shot_dialog',
                            content_creator: dialogs.create_shot_dialog,
                            widget_type: 'MenuItem',
                            data_id: pID
                        })
                );

                project_setting_DropDownMenu.addChild(
                        new MenuSeparator({})
                );

                project_setting_DropDownMenu.addChild(
                        dialogCaller({
                            label: 'Add User',
                            dialog_id: 'user_dialog',
                            content_creator: dialogs.create_user_dialog,
                            widget_type: 'MenuItem',
                            data_id: pID
                        })
                );

                return project_setting_DropDownMenu;

            };

            // Project Memory
            var projects_memory = new JsonRest({
                target: '/get/projects'
            });

            // Projects Updater
            var projects_DropDownMenu_updater = function () {
                // delete the current items
                var items = projects_DropDownMenu.getChildren();
                for (var i = 0; i < items.length; i++) {
                    items[i].destroyRecursive();
                }

                // query new items
                var result = projects_memory.query().then(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        projects_DropDownMenu.addChild(
                                new PopupMenuItem({
                                    label: data[i].name,
                                    dataId: data[i].id,
                                    popup: create_project_setting_DropDownMenu(data[i].id)

                                })
                        );
                    }

                    projects_DropDownMenu.addChild(
                            new MenuSeparator({})
                    );

                    projects_DropDownMenu.addChild(
                            dialogCaller({
                                label: 'New Project',
                                dialog_id: 'project_dialog',
                                content_creator: dialogs.create_project_dialog,
                                widget_type: 'MenuItem',
                                related_field_updater: projects_DropDownMenu_updater
                            })
                    );

                    projects_DropDownMenu.addChild(
                            new MenuSeparator({})
                    );

                    // -----
                    // Asset
                    projects_DropDownMenu.addChild(
                            dialogCaller({
                                label: 'New Asset',
                                dialog_id: 'asset_dialog',
                                content_creator: dialogs.create_asset_dialog,
                                widget_type: 'MenuItem'

                            })
                    );

                    // --------
                    // Sequence
                    projects_DropDownMenu.addChild(
                            dialogCaller({
                                label: 'New Sequence',
                                dialog_id: 'sequence_dialog',
                                content_creator: dialogs.create_sequence_dialog,
                                widget_type: 'MenuItem'
                            })
                    );

                    // ----
                    // Shot
                    projects_DropDownMenu.addChild(
                            dialogCaller({
                                label: 'New Shot',
                                dialog_id: 'shot_dialog',
                                content_creator: dialogs.create_shot_dialog,
                                widget_type: 'MenuItem'
                            })
                    );


                });
            };
            projects_DropDownMenu_updater();


            // ******************************************************************
            // CREW - Users / Departments / Groups
            var crew_DropDownMenu = new DropDownMenu();

            stalker_MenuBar.addChild(new PopupMenuBarItem({
                label: 'CREW',
                popup: crew_DropDownMenu
            }));

            teamMenuCreator({
                team_is_singular: true,
                menu_to_attach: crew_DropDownMenu,
                entity_type_name: 'user',
                view_entity_url: 'view/user/',
                query_entity_url: 'get/users',
                content_pane_to_update: central_content_pane,
                new_team_dialog_id: 'user_dialog',
                new_team_dialog_content_creator: dialogs.create_user_dialog
            });

            teamMenuCreator({
                menu_to_attach: crew_DropDownMenu,
                entity_type_name: 'department',
                view_entity_url: 'view/department/',
                query_entity_url: 'get/departments',
                content_pane_to_update: central_content_pane,
                new_team_dialog_id: 'department_dialog',
                new_team_dialog_content_creator: dialogs.create_department_dialog
            });

            teamMenuCreator({
                menu_to_attach: crew_DropDownMenu,
                entity_type_name: 'group',
                view_entity_url: 'view/group/',
                query_entity_url: 'get/groups',
                content_pane_to_update: central_content_pane,
                new_team_dialog_id: 'group_dialog',
                new_team_dialog_content_creator: dialogs.create_group_dialog
            });

            stalker_MenuBar.startup();


            // ******************************************************************
            // ME BAR
            var mebar_tooltipDialog = new TooltipDialog({
                id: 'mebar_tooltipDialog',
                style: 'width: 250px; height: 100%',
                href: '/me_menu',
                onMouseLeave: function () {
                    mebar_tooltipDialog.set('visible', false);
                    popup.close(mebar_tooltipDialog);
                }
            });
            mebar_tooltipDialog.startup();

            // 
            var mebar_dropDownButton = DropDownButton({
                label: '{{ user.name }}',
                dropDown: mebar_tooltipDialog,
                style: 'margin-top: 0px; margin-bottom: 0px; color: #000000'
            }, 'mebutton');
            mebar_dropDownButton.startup();

            // ******************************************************************
            // startup app layout
            appLayout.startup();

            // load user home by default
            central_content_pane.set(
                    'href',
                    'view/user/{{ user.id }}'
            );
            central_content_pane.refresh();

        });
    </script>
{% endblock %}
</body>
</html>
