<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
  <title>Stalker v{{stalker.__version__}}</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application"/>
  <meta name="description" content="pyramid web application"/>
  <link rel="shortcut icon"
        href="{{request.static_url('stalker:static/images/favicon.ico')}}"/>
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="{{request.static_url('stalker:static/css/stalker.css')}}"/>
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="{{ request.static_url('stalker:static/js/dojo-release-1.8.1/dijit/themes/soria/soria.css') }}"/>
  <script type="text/javascript" data-dojo-config="async: true" 
          src="{{ request.static_url('stalker:static/js/dojo-release-1.8.1/dojo/dojo.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ request.static_url('stalker:static/js/stalker.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ request.static_url('stalker:static/js/stalker.js') }}">
  </script>
</head>
<body class="soria" style="border-radius: 10px">
{% block body %}
  <div id="appLayout" class="demoLayout">
    <div id="header" class="edgePanel">
      {% block header %}
        <div id="stalker_logo">
          <div id="stalker_name">Stalker</div>
          <div id="stalker_version">v{{stalker.__version__}}</div>
        </div>
        <div id="navbar">
          Welcome {{user.first_name}} {{user.last_name}} | Settings | <a href='/logout'>Logout</a>
        </div>
        <div id="search">
          <div id="search_label">Search</div>
          <div id="search_form">
            <form>
              <input class="indented_input">
            </form>
          </div>
        </div>
      {% endblock %}
    </div>
    <div id="central_content" class="centralPanel">
      {% block content %}
        <div id="main_view">
          <div id="top_menu">
          </div>
          {% block main_view %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div id="left_column" class="edgePanel">
      <div id='user_menu_content_pane'>
        <p>This Is User Menu</p>
        {% block user_menu %}{% endblock %}
      </div>
      <div id='projects_menu_content_pane'>
        <p>This Is Project Menu</p>
        {% block project_menu %}{% endblock %}
      </div>
    </div>
    <div id="footer" class="edgePanel">
      {% block footer %}
        <div class="footer">&copy; Copyright 2008-2012, Erkan Ozgur Yilmaz.</div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
  <script type='text/javascript'>
    require(["dojo/dom", "dijit/registry", "dijit/layout/BorderContainer",
      "dijit/layout/TabContainer", "dijit/layout/SplitContainer",
       "dojox/layout/ContentPane",
      "dojo/domReady!"],
        function(dom, registry, BorderContainer, TabContainer,
                 SplitContainer, ContentPane){
          
          // create the BorderContainer and attach it to our appLayout div
          var appLayout = new BorderContainer({
            design: "headline"
          }, "appLayout");
          
          // create the Header
          appLayout.addChild(
            new ContentPane({
              region: "top",
{#              style: 'height: 40px'#}
            }, "header")
          );
          
          // create left Menu
          var left_content_pane = new SplitContainer({
            region: 'leading',
            orientation: 'vertical',
            splitter: true,
            style:"width: 200px"
          }, 'left_column');
 
          appLayout.addChild(left_content_pane);
          
          // create the UserMenu
          left_content_pane.addChild(
            new ContentPane({
              region: 'top',
              splitter: true,
              style: 'height: 200px',
              href: '/user_menu',
              preload: true,
              executeScripts: true
            }, 'user_menu_content_pane') 
          );
          
          // create the Projects Menu
          var projects_menu_content_pane = new ContentPane({
             region: 'bottom',
             splitter: true,
             href: '/projects_menu',
             executeScripts: true,
             parseOnLoad: true
          }, 'projects_menu_content_pane')
          projects_menu_content_pane.startup();
          
          left_content_pane.addChild(projects_menu_content_pane);
          
          left_content_pane.startup();
          
          // create Footer
          appLayout.addChild(
            new ContentPane({
              region: 'bottom',
              style: 'height: 24px'
            }, "footer")
          );
          
          // create main content
          appLayout.addChild(
            new ContentPane({
              region: 'center'
            }, "central_content")
          );
          
          appLayout.startup();
          
        });
  </script>
</body>
</html>
