<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
  <title>Stalker v{{stalker.__version__}}</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application"/>
  <meta name="description" content="pyramid web application"/>
  <link rel="shortcut icon"
        href="{{request.static_url('stalker:static/images/favicon.ico')}}"/>
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="{{request.static_url('stalker:static/css/stalker.css')}}"/>
  <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="{{ request.static_url('stalker:static/js/dojo-release-1.7.2/dijit/themes/claro/claro.css') }}"/>
  <script type="text/javascript" data-dojo-config="async: true" 
          src="{{ request.static_url('stalker:static/js/dojo-release-1.7.2/dojo/dojo.js') }}">
  </script>
  <script type="text/javascript"
          src="{{ request.static_url('stalker:static/js/stalker.js') }}">
  </script>
  <script type='text/javascript'>
    require(["dojo/dom", "dijit/registry", "dijit/layout/BorderContainer",
      "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dijit/form/Button",
      "dojo/domReady!"],
            function(dom, registry, BorderContainer, TabContainer, ContentPane, Button){
              
              // create the BorderContainer and attach it to our appLayout div
              var appLayout = new BorderContainer({
                design: "headline"
              }, "appLayout");
              
              // create the Header
              appLayout.addChild(
                new ContentPane({
                  region: "top"
                }, "header")
              );
              
              // create the MainMenu
              appLayout.addChild(
                new ContentPane({
                  region: 'left',
                  splitter: true
                }, "leftCol")
              );
              
              // create Footer
              appLayout.addChild(
                new ContentPane({
                  region: 'bottom'
                }, "footer")
              );
              
              // create main content
              appLayout.addChild(
                new ContentPane({
                  region: 'center'
                }, "content")
              );
              
              // create the button
              var button = new Button({
                label: "Create Project",
                type: "button",
                onClick: function(){
                  
                  // check if the dialog is created before
                  var dialog = dijit.byId("create_project_dialog");
                  if (dialog == null){
                    dialog = create_create_project_dialog();
                  }
                  // show the dialog
                  dialog.show();
                  dialog.startup();
                  
                  init();
                  
                }
              }, "create_project_btn");
              button.startup();
              
              appLayout.startup();
              
            });
  </script>
  <script type="text/javascript"
          src="{{ request.static_url('stalker:static/js/stalker.js') }}">
  </script>
</head>
<body class="claro">
{% block body %}
  <div id="appLayout" class="demoLayout">
    <div id="header" class="edgePanel">
      {% block header %}
        <div id="stalker_logo">
          <div id="stalker_name">Stalker</div>
          <div id="stalker_version">v{{stalker.__version__}}</div>
        </div>

        <div id="user_menu">
          Welcome {{user.first_name}} {{user.last_name}} | Settings | <a href='/logout'>Logout</a>
        </div>
        <div id="search">
          <div id="search_label">Search</div>
          <div id="search_form">
            <form>
              <input class="indented_input">
            </form>
          </div>
        </div>
      {% endblock %}
    </div>
    <div id="content" class="centralPanel">
      {% block content %}
        <div id="main_view">
          <div id="top_menu">
            <div id='create_project_btn'>Create Project</div>
          </div>
          {% block main_view %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div id="leftCol" class="edgePanel">
      {% block main_menu %}{% endblock %}
    </div>
    <div id="footer" class="edgePanel">
      {% block footer %}
        <div class="footer">&copy; Copyright 2008-2012, Erkan Ozgur Yilmaz.</div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
</body>
</html>
