<div id='nav_bar_content_pane'
     style='width:100%; height:25px; padding: 0; margin:0; background-color: #eeeeee;'>
    <div style='height: 20px; position: absolute;
                  left: 10px; top: 5px;'>
        <a href="javascript:redirectLink('central_content','view/project/{{ entity.project.id }}');">{{ entity.project.name }} </a> /
        <a href="javascript:redirectLinkInParent('{{ entity.entity_type.lower() }}s_content_pane','list/{{ entity.plural_class_name.lower() }}/{{ entity.project.id }}');">{{ entity.plural_class_name }} </a>/ {{ entity.name }}({{ entity.code }})


    </div>
    <div style='height: 20px; position: absolute;
                  right: 20px; top: 5px;'>{{ entity.status.name }}</div>

</div>
