<div class='link_with_action' onclick="
    require(['dojo/dom', 'dijit/registry', 'dijit/popup', 'dojo/domReady!'],
      function(dom, registry, popup){
          // create the dialog if it doesn't already exists
          
          var dialog_id = 'add_project_dialog';
          var dialog = dijit.byId(dialog_id);
          if (dialog == null){
            dialog = create_add_project_dialog();
          }
          // shot the dialog
          dialog.show();
      }
    );
">
  <div id='create_new_project'
       style='
         background-image: url({{ request.static_url("stalker:static/stalker/images/gmail_icons.png") }});
         background-position: -62px -19px;
         font-size: 0;
         line-height: 0;
         width: 8px;
         height: 14px;
         float: left'>
  ></div><span><b>&nbspCreate New</b></span>
</div>
