<div class='window_close_button'>x</div>
<div class="window_header">Create Project</div>
<div id="column1">
  Name<br/>
  Code<br/>
  Image Format<br/>
  FPS<br/>
  Repository<br/>
  Structure<br/>
  Lead<br/>
</div>
<div id='column2'>
  <form>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input class='indented_input'><br/>
    <input type='submit' name='form.canceled' value='cancel'>
    <input type='submit' name='form.submitted' value='create'>
  </form>
</div>
