<div class='dijitDialogPaneContentArea' style='height: 380px'>
  <form id='edit_structure_form'>
    <table style='width: 100%'>
    
    {# Name #}
    <tr>
      <td class='label_column'>
        <label for='structure_name'>
          Name
        </label>
      </td>
      <td class='input_column'>
        <input id='structure_name'>
      </td>
    </tr>
    
    {# Custom Template #}
    <tr style='height: 260px'>
      <td class='label_column'>
        <label for='structure_custom_template'>
          Custom Template
        </label>
      </td>
      <td class='input_column'>
        <input id='structure_custom_template'>
      </td>
    </tr>
    
    {# Filename Templates #}
    <tr>
      <td class='label_column'>
        <label for='structure_filename_template'>
          Filename Templates
        </label>
      </td>
      <td class='input_column'>
        <select id='structure_filename_template'></select>
      </td>
      <td class='button_column'>
        <button id='structure_add_filename_template_button'>Add</button>
{#        <button id='structure_edit_filename_template_button'>Edit</button>#}
      </td>
    </tr>
    </table>
  </form>
</div>

<div class='dijitDialogPaneActionBar'>
  <button id='structure_edit_button'></button>
  <button id='structure_cancel_button'></button>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dojo/store/Memory', 'dijit/form/Form',
    'dijit/form/ValidationTextBox',  'dijit/form/SimpleTextarea',
    'dijit/form/Button', 'dijit/form/MultiSelect', 'dojo/store/JsonRest',
    'stalker/submitForm', 'stalker/fieldUpdater', 'stalker/dialogCaller',
    'dojo/domReady!'],
    function(registry, Memory, Form, ValidationTextBox, 
             SimpleTextarea, Button, MultiSelect, JsonRest, submitForm,
             dialogCaller, fieldUpdater){
      
      // **********************************************************************
      // Form
      var edit_structure_form = new Form({
        id: 'edit_structure_form'
      }, 'edit_structure_form');
      edit_structure_form.startup();
      
      
      
      
      // **********************************************************************
      // Name
      var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        value: '{{ structure.name }}',
        placeHolder: 'Enter a name',
        required: true
      }, 'structure_name');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Custom Template
      var custom_template_simpleTextarea = new SimpleTextarea({
        name: 'custom_template',
        label: 'Custom Template',
        value: '{{ structure.custom_template }}',
        placeHolder: 'Enter any custom template here',
        required: false,
        style: 'height: 250px; overflow:auto'
      }, 'structure_custom_template');
      custom_template_simpleTextarea.startup();
      
      
      
      
      // **********************************************************************
      // Filename Template
      var filename_template_memory = new JsonRest({
        target: '/get/filename_templates'
      });
      
      // The Widget
      var filename_template_multi_select = new MultiSelect({
        name: 'filename_templates',
        required: false
      }, 'structure_filename_template');
      filename_template_multi_select.startup();
      
      // The Updater
      var filename_template_field_updater = fieldUpdater({
        'memory': filename_template_memory,
        'widget': filename_template_multi_select,
        'selected': [
          {% for ft in structure.templates %}
            {{ ft.id}},
          {% endfor %}
        ]
      });
      // run the function to fill the data for the first time
      filename_template_field_updater({animate: false});
      
      // Add Filename Template Button
      var add_filename_template_button = dialogCaller({
        label: 'Add',
        dialog_id: 'add_filename_template_dialog',
        content_creator: create_add_filename_template_dialog,
        attach_to: 'structure_add_filename_template_button',
        related_field_updater: filename_template_field_updater
      });
      add_filename_template_button.startup();
      
      
      
      
      // **********************************************************************
      // Edit Button
      var edit_button = new Button({
        label: 'Edit',
        type: 'button',
        onClick: function(){
          submitForm({
            dialog: registry.byId('edit_structure_dialog'),
            form: edit_structure_form,
            additional_data: {submitted: 'edit'},
            url: '{{ request.route_url('edit_structure', structure_id=structure.id) }}',
            method: 'POST'
          });
        }
      }, 'structure_edit_button');
      edit_button.startup();
      
      
      
      
      // **********************************************************************
      // Cancel Button
      var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function(){
          var dialog = registry.byId('edit_structure_dialog');
          dialog.destroyRecursive();
        }
      }, 'structure_cancel_button');
      cancel_button.startup();
      
      
  });
</script>

