<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
        'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'
      xmlns:tal='http://xml.zope.org/namespaces/tal'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
  <meta name='keywords' content='python web application'/>
  <meta name='description' content='pyramid web application'/>
  <link rel='shortcut icon'
        href='{{request.static_url("stalker:static/images/favicon.ico")}}'/>
  <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
        href='{{request.static_url("stalker:static/css/stalker.css")}}'/>
  <link rel='stylesheet' type='text/css' media='screen' charset='utf-8'
        href='{{ request.static_url("stalker:static/js/dojo-release-1.8.1/dijit/themes/claro/claro.css") }}'/>
  <script type='text/javascript' data-dojo-config='async: true'
          src='{{ request.static_url("stalker:static/js/dojo-release-1.8.1/dojo/dojo.js") }}'>
  </script>
  <script type='text/javascript'
          src='{{ request.static_url("stalker:static/js/stalker.js") }}'>
  </script>
  {% block script_block %}{% endblock %}
</head>
<body class='claro' style='border-radius: 10px'>
  {% block form_block %}
  {% endblock %}
</body>
</html>
