{% extends 'base.jinja2' %}
{# add the main menu #}
{% block main_menu %}
  <div id='menu'>
    <ul><b>My Pages</b>
      <li>My Tasks</li>
      <li>My Bookings</li>
      <li>My Tickets</li>
      <li>My Versions</li>
      <li>My Messages</li>
    </ul>
    <br/>
    <ul><b>Projects</b>
      {% if project|length > 0 %}
        {% for project in projects %}
          <ul><b>{{ project.name }}</b>
            <li>Assets</li>
            <li>Sequences</li>
            <li>Tasks</li>
            <li>Bookings</li>
            <li>Tickets</li>
            <li>Versions</li>
          </ul>
        {% endfor %}
      {% else %}
        <li>(-- There is No Project --)</li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
