<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Login - Stalker</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application"/>
  <meta name="description" content="pyramid web application"/>
  <link rel="shortcut icon"
        href="{{request.static_url('stalker:static/favicon.ico')}}"/>
  <link rel="stylesheet"
        href="{{request.static_url('stalker:static/css/stalker.css')}}"
        type="text/css" media="screen" charset="utf-8"/>
  <!--[if lte IE 6]>
  <link rel="stylesheet"
        href="{{request.static_url('stalker:static/css/ie6.css')}}"
        type="text/css" media="screen" charset="utf-8"/>
  <![endif]-->
</head>
<body>
<div id="wrap">
  <div id='login_window'>
    <div id='title'><h3><b>Login To Stalker</b></h3></div>
    <div id='column1'>
      login or email<br/>
      password
    </div>
    <div id='column2'>
      <form name='login_form' method="POST" action="{{request.route_url('login')}}">
        <div><input class='indented_input' type='text' name='login' value='{{login}}'><br/></div>
        <div><input class='indented_input' type='password' name='password' value='{{password}}'><br/></div>
        <div id='login_button'><b><input type="submit" name='form.submitted' value="Login" /></b></div>
      </form>
    </div>
    <div id='message'><b>{{message}}</b></div>
  </div>
</div>
</body>
</html>
