{% extends 'base.jinja2' %}
{% block body %}
  <div id='login_window'>
    <div id='title'><h3><b>Login To Stalker</b></h3></div>
    <div id='column1'>
      login or email<br/>
      password
    </div>
    <div id='column2'>
      <form name='login_form' method="POST" action="{{request.route_url('login')}}">
        <div><input class='indented_input' type='text' name='login' value='{{login}}'><br/></div>
        <div><input class='indented_input' type='password' name='password' value='{{password}}'><br/></div>
        <div id='login_button'><b><input type="submit" name='form.submitted' value="Login" /></b></div>
      </form>
    </div>
    <div id='message'><b>{{message}}</b></div>
  </div>
{% endblock body%}
