{% extends 'form_base.jinja2' %}
{% block form_block %}
  <div id='project_names'>
    <div class='link_with_action' onclick="
        require(['dojo/dom', 'dijit/registry', 'dijit/popup', 'dojo/domReady!'],
          function(dom, registry, popup){
              // create the dialog if it doesn't already exists
              
              var dialog_id = 'add_project_dialog';
              var dialog = dijit.byId(dialog_id);
              if (dialog == null){
                dialog = create_add_project_dialog();
              }
              // shot the dialog
              dialog.show();
          }
        );
    ">
      <div id='create_new_project'
           style='
             background-image: url({{ request.static_url("stalker:static/images/gmail_icons.png") }});
             background-position: -62px -19px;
             font-size: 0;
             line-height: 0;
             width: 8px;
             height: 14px;
             float: left'>
      ></div><span><b>&nbspCreate New</b></span>
    </div>
    <br>
    {% for project in projects %}
      <div class='project_name'
           onclick="
            require(['dojo/dom', 'dijit/registry', 'dojo/domReady!'],
              function(dom, registry){
                var central_container = dijit.byId('central_content');
                  // update the central view
                  central_container.setAttribute(
                  'href',
                  'view/project/' + {{ project.id }}
                  )
                });
           ">
      <b>{{ project.name }}</b><br>
      </div>
    {% endfor %}
  </div>
{% endblock %}
