{#{% extends 'base.jinja2' %}#}
{% block user_menu %}
  <div id='users_menu'>
    <ul><b>My Pages</b>
      <li>My Tasks</li>
      <li>My Bookings</li>
      <li>My Tickets</li>
      <li>My Versions</li>
      <li>My Messages</li>
    </ul>
    <br/>
  </div>
{% endblock %}
