<button id='view_shots_add_shot_button'>Add Shot</button>
<div id='shots_data_grid'></div>
<script type='text/javascript'>
  require(['dijit/registry', 'dojo/data/ObjectStore', 'dojox/grid/DataGrid',
    'dojo/store/Memory', 'dojo/store/JsonRest', 'stalker/fieldUpdater',
    'stalker/dialogCaller', 'dojo/domReady!'],
    function(registry, ObjectStore, DataGrid, Memory, JsonRest, fieldUpdater,
             dialogCaller){
      
      var shot_memory = new JsonRest({
        target: '/get/shots/{{ project.id }}'
      });
      
      var my_store = new ObjectStore({objectStore: shot_memory});
      
      /* create a new grid */
      var shot_data_grid = new DataGrid({
        store: my_store,
        structure: [
          {name: 'Thumbnail',                         width: '100px'},
          {name: 'Name',        field: 'name',        width: '100px'},
          {name: 'Sequence',    field: 'sequence',    width: '200px'},
          {name: 'Status',      field: 'status',      width: '150px'},
          {name: 'Created By',  field: 'user_name',   width: '150px'}
        ],
        width: '100%',
        autoHeight: true,
        rowSelector: '20px'
      }, 'shots_data_grid');
      shot_data_grid.startup();
      
      var shot_data_grid_updater = fieldUpdater({
        'memory': shot_memory,
        'widget': shot_data_grid
      })
      
      var add_shot_button = dialogCaller({
        label: 'Add',
        dialog_id: 'add_shot_dialog',
        content_creator: create_add_shot_dialog,
        attach_to: 'view_shots_add_shot_button',
        related_field_updater: shot_data_grid_updater
      });
      add_shot_button.startup();        
      
  });
</script>

