<button id='view_shots_add_shot_button'>Add Shot</button>
<div id='shots_data_grid'></div>
<script type='text/javascript'>
  require(['dijit/registry',
           'dojo/data/ObjectStore', 'dojox/grid/DataGrid',
           'dojo/store/Memory',
           'dojo/domReady!'],
    function(registry, ObjectStore, DataGrid, Memory){
      
      /* set up data store */
      var shot_memory = new Memory({
        data: [
          {% for sequence in project.sequences %}
            {% for shot in sequence.shots %}
              {
                id: {{ shot.id }},
                name: '{{ shot.name }}',
                sequence: '{{ shot.sequence.name }}',
                status: '{{ shot.status.name }}',
                user_name: '{{ shot.created_by.name }}'
              },
            {% endfor %}
          {% endfor %}
        ]
      });
      
      var my_store = new ObjectStore({objectStore: shot_memory});
      
      /* create a new grid */
      var shot_data_grid = new DataGrid({
        store: my_store,
        structure: [
          {name: 'Thumbnail',                         width: '100px'},
          {name: 'Name',        field: 'name',        width: '100px'},
          {name: 'Sequence',    field: 'sequence',    width: '200px'},
          {name: 'Status',      field: 'status',      width: '150px'},
          {name: 'Created By',  field: 'user_name',   width: '150px'},
        ],
        width: '100%',
        autoHeight: true,
        rowSelector: '20px'
      }, 'shots_data_grid');
      
      shot_data_grid.startup();
      
      var add_shot_button = create_add_data_button(
        null,
        'Add',
        'add_shot_dialog',
        create_add_shot_dialog,
        'view_shots_add_shot_button'
      );
      add_shot_button.startup();        
      
  });
</script>

