<div id='project_related_data_tab_container'>
    {# Tab View #}
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
    function(registry, TabContainer, ContentPane){

      
      // **********************************************************************
      // Bottom Part - Complex Data View
      var project_related_data_tab_container = new TabContainer({
        region: 'bottom'
      }, 'project_related_data_tab_container');

      var name_pane = new ContentPane({
        title: '{{ project.name }}',
        disabled: true
      });

      var overview_content_pane = new ContentPane({
        title: 'Overview',
        href: 'overview_project/{{ project.id }}',
        selected: true
      });
      
      var tasks_content_pane = new ContentPane({
        title: 'Tasks',
        href: 'view/tasks/{{ project.id }}'
      });
      
      var assets_content_pane = new ContentPane({
        title: 'Assets',
        href:'view/assets/{{ project.id }}'
      });
      
      var shots_content_pane = new ContentPane({
        title: 'Shots',
        href: 'view/shots/{{ project.id }}'
      });
      
      var tickets_content_pane = new ContentPane({
        title: 'Tickets',
        content: 'view/tickets/{{ project.id }}'
      });

      project_related_data_tab_container.addChild(name_pane);
      project_related_data_tab_container.addChild(overview_content_pane);
      project_related_data_tab_container.addChild(tasks_content_pane);
      project_related_data_tab_container.addChild(assets_content_pane);
      project_related_data_tab_container.addChild(shots_content_pane);
      project_related_data_tab_container.addChild(tickets_content_pane);

      project_related_data_tab_container.startup();

  });
</script>

