<div id='shot_details_content_pane'>
    <div style="background-color: #fff200 " class="page_title"></div>
    {# Avatar #}
    <div id='shot_thumbnail' class='thumbnail'>
        {% if not shot.thumbnail %}
        <img src='{{ request.static_url("stalker:static/stalker/images/Placeholder_shot.png") }}'
             alt=''
             style='width:120px;'>
    {% endif %}
    </div>

    <div id='shot_summary_chart1'
         style='width: 100px;
                  height: 100px;
                  position: absolute;
                  right: 0;'></div>

    {# Basic Info #}
    <div id='shot_info' class='summary_info'>

        <h2 style='margin: 0;'>{{ shot.name }}</h2>
        <h5 style='margin: 0;'>({{ shot.code }})</h5>
        <table>
            <tr>
                <td style='text-align: right'><strong>Project</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="#" class="DataLink"
                       stalker_target="central_content"
                       stalker_href="view/project/{{ shot.project.id }}">{{ shot.project.name }}</a>
                </td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Status</strong></td>
                <td>&nbsp;</td>
                <td>{{ shot.status.name }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Created By</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="#" class="DataLink"
                       stalker_target="central_content"
                       stalker_href="view/user/{{ shot.created_by.id }}">{{ shot.created_by.name }}</a>
                </td>
            </tr>


        </table>

    </div>
    {#  Charts  #}

</div>

<script type="text/javascript">
    require([
        'dojox/charting/Chart',
        'dojox/charting/themes/Tufte',
        'dojox/charting/plot2d/Pie',
        'dojox/charting/action2d/MoveSlice',
        'dijit/form/Button',
        'stalker/dialogs',
        'stalker/dialogCaller',
        'stalker/gotoLink',
        'dojo/domReady!'
    ], function (Chart, theme, PiePlot, MoveSlice, Button, dialogs,
                 dialogCaller, gotoLink) {

        // Create the chart within it's "holding" node
        var pieChart = new Chart('shot_summary_chart1');

        // Add the only/default plot
        pieChart.setTheme(theme);

        // Add the only/default plot
        pieChart.addPlot("default", {
            type: PiePlot, // our plot2d/Pie module reference as type value
            radius: 40,
            fontColor: "black",
            labelOffset: 0
        });

        var chartData = [1000, 12000];

        // Add the series of data
        pieChart.addSeries('January', chartData);

        // Create the slice mover
        var mag = new MoveSlice(pieChart, 'default');

        // Render the chart!
        pieChart.render();

        // UPDATE STRUCTURE BUTTON
        var update_shot_button = dialogCaller({
            label: 'Update',
            dialog_id: 'update_shot_dialog',
            content_creator: dialogs.update_shot_dialog,
            attach_to: 'update_shot_button',
            data_id: {{ shot.id }}
        });
        update_shot_button.startup();


        gotoLink();

    });
</script>
