<div id='shot_details_content_pane'>
    <div style="background-color: #fff200 " class="page_title"></div>
    {# Avatar #}
    <div id='shot_thumbnail' class='thumbnail'>No Avatar</div>

    <div id='shot_summary_chart1'
         style='width: 100px;
                  height: 100px;
                  position: absolute;
                  top: 200px;
                  left: 0;'></div>

    {# Basic Info #}
    <div id='shot_info' class='summary_info'>
        {#    <table>#}
        {#      <tr width ="%100">#}
        {#        <td width ='25%'><h3><a class="DataLink" href="#" stalker_target="shots_content_pane" stalker_href="list/shots/{{ shot.project.id }}"> Shots/ </a>{{ shot.name }}({{ shot.code }})</h3></td>#}
        {#        <td width ='25%'> <button id='update_shot_button'>Update</button></td>#}
        {#        <td width ='25%'>{{ shot.status.name }}</td>#}
        {#        <td width ='25%'>#}
        {#          <a href="#" class= "DataLink" stalker_target="central_content" stalker_href = "view/user/{{ shot.created_by.id }}">{{ shot.created_by.name }}</a>#}
        {#        </td>#}
        {#      </tr>#}
        {#    </table>#}
        <table>
            <tr>
                <td style='text-align: right'><strong>Project</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="#" class="DataLink"
                       stalker_target="central_content"
                       stalker_href="view/project/{{ shot.project.id }}">{{ shot.project.name }}</a>
                </td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Status</strong></td>
                <td>&nbsp;</td>
                <td>{{ shot.status.name }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Created By</strong></td>
                <td>&nbsp;</td>
                <td>
                    <a href="#" class="DataLink"
                       stalker_target="central_content"
                       stalker_href="view/user/{{ shot.created_by.id }}">{{ shot.created_by.name }}</a>
                </td>
            </tr>


        </table>

    </div>
    {#  Charts  #}

</div>

<script type="text/javascript">
    require(['dojox/charting/Chart',
        'dojox/charting/themes/Tufte',
        'dojox/charting/plot2d/Pie',
        'dojox/charting/action2d/MoveSlice',
        'dijit/form/Button',
        'stalker/dialogCaller',
        'stalker/gotoLink',
        'dojo/ready'],
            function (Chart, theme, PiePlot, MoveSlice, Button, dialogCaller, gotoLink, ready) {
                ready(function () {
                    // Create the chart within it's "holding" node
                    var pieChart = new Chart('shot_summary_chart1');

                    // Add the only/default plot
                    pieChart.setTheme(theme);

                    // Add the only/default plot
                    pieChart.addPlot("default", {
                        type: PiePlot, // our plot2d/Pie module reference as type value
                        radius: 40,
                        fontColor: "black",
                        labelOffset: 0
                    });

                    var chartData = [1000, 12000];

                    // Add the series of data
                    pieChart.addSeries('January', chartData);

                    // Create the slice mover
                    var mag = new MoveSlice(pieChart, 'default');

                    // Render the chart!
                    pieChart.render();

                    // UPDATE STRUCTURE BUTTON
                    var update_shot_button = dialogCaller({
                        label: 'Update',
                        dialog_id: 'update_shot_dialog',
                        content_creator: update_shot_dialog_creator,
                        attach_to: 'update_shot_button',
                        data_id: {{ shot.id }}
                    });
                    update_shot_button.startup();

                });

                gotoLink();

            });
</script>
