{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<button id='view_shots_create_shot_button'>New Shot</button>
<div id='shots_data_grid'></div>
<script type='text/javascript'>
  require(['dijit/registry', 'dojo/data/ObjectStore', 'dojox/grid/DataGrid',
    'dojo/store/Memory', 'dojo/store/JsonRest', 'stalker/fieldUpdater',
    'stalker/dialogCaller', 'dojo/domReady!'],
    function(registry, ObjectStore, DataGrid, Memory, JsonRest, fieldUpdater,
             dialogCaller){
      
      var shot_memory = new JsonRest({
        target: '/get/shots/{{ project.id }}'
      });
      
      var my_store = new ObjectStore({objectStore: shot_memory});
      
      /* create a new grid */
      var shot_data_grid = new DataGrid({
        store: my_store,
        structure: [
          {name: 'Thumbnail',                         width: '100px'},
          {name: 'Name',        field: 'name',        width: '100px'},
{#          {name: 'Sequences',    field: 'sequences',    width: '200px'},#}
          {name: 'Status',      field: 'status',      width: '150px'},
          {name: 'Created By',  field: 'user_name',   width: '150px'}
        ],
        width: '100%',
        autoHeight: true,
        rowSelector: '20px'
      }, 'shots_data_grid');
      shot_data_grid.startup();
      
      var shot_data_grid_updater = fieldUpdater({
        'memory': shot_memory,
        'widget': shot_data_grid
      });
      
      var create_shot_button = dialogCaller({
        label: 'New Shot',
        dialog_id: 'create_shot_dialog',
        content_creator: create_shot_dialog_creator,
        attach_to: 'view_shots_create_shot_button',
        related_field_updater: shot_data_grid_updater,
        data_id: '{{ project.id }}'
      });
      create_shot_button.startup();

      shot_data_grid_updater();
      
  });
</script>

