<div style="margin: 0" id='shot_border_container'>

    <div id='shot_nav_bar_content_pane'>
        {# Summary View #}
    </div>
    <div id='shot_related_data_tab_container'>
        {# Tab View #}
    </div>
</div>

<script type='text/javascript'>
    require(['dijit/registry', 'dijit/layout/BorderContainer',
        'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
            function (registry, BorderContainer, TabContainer, ContentPane) {

                var shot_BorderContainer = new BorderContainer({
                    id: 'shot_border_container',
                    region: 'center',
                    orientation: 'vertical',
                    splitter: true,
                    resizable: false,
                    style: 'width:100%; height:100%; margin:0; padding: 0;'

                }, 'shot_border_container');

                var nav_bar_content_pane = new ContentPane({
                    title: 'NavBar',
                    href: 'view/entity_nav_bar/{{ shot.id }}',
                    region: 'top',
                    style: 'padding: 0; margin:0;'
                }, 'shot_nav_bar_content_pane');

                // **********************************************************************
                // Bottom Part - Complex Data View
                var shot_related_data_tab_container = new TabContainer({
                    region: 'center'
                }, 'shot_related_data_tab_container');

                var tasks_content_pane = new ContentPane({
                    title: 'Tasks',
                    href: 'list/tasks/{{ shot.id }}'
                });

                var tickets_content_pane = new ContentPane({
                    title: 'Tickets',
                    content: 'list/tickets/{{ shot.id }}'
                });

                var versions_content_pane = new ContentPane({
                    title: 'Versions',
                    href: 'list/versions/{{ shot.id }}'
                });

                var summary_content_pane = new ContentPane({
                    title: 'Overview',
                    href: 'summarize/shot/{{ shot.id }}',
                    style: 'padding: 0; margin:0;'
                }, 'shot_summary');


                shot_related_data_tab_container.addChild(summary_content_pane);
                shot_related_data_tab_container.addChild(tasks_content_pane);
                shot_related_data_tab_container.addChild(tickets_content_pane);
                shot_related_data_tab_container.addChild(versions_content_pane);
                shot_related_data_tab_container.startup();

                shot_BorderContainer.addChild(nav_bar_content_pane);
                shot_BorderContainer.addChild(shot_related_data_tab_container);

                //shot_BorderContainer.addChild(summary_content_pane);
                shot_BorderContainer.startup();


            });
</script>
