<div style="margin: 0" id='task_border_container'>
    <div id='task_nav_bar_content_pane'>
        {# Summary View #}
    </div>
    <div id='ptask_related_data_tab_container'>
        {# Tab View #}
    </div>
</div>

<script type='text/javascript'>
    require(['dijit/registry', 'dijit/layout/BorderContainer',
        'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
            function (registry, BorderContainer, TabContainer, ContentPane) {

                var task_BorderContainer = new BorderContainer({
                    id: 'task_border_container',
                    region: 'center',
                    orientation: 'vertical',
                    splitter: true,
                    resizable: false,
                    style: 'width:100%; height:100%; margin:0;'
                }, 'task_border_container');


                var nav_bar_content_pane = new ContentPane({
                    title: 'NavBar',
                    href: 'view/entity_nav_bar/{{ task.id }}',
                    region: 'top',
                    style: 'width:100%; height:25px; padding: 0;'
                }, 'task_nav_bar_content_pane');


                // **********************************************************************
                // Bottom Part - Complex Data View
                var task_related_data_tab_container = new TabContainer({
                    region: 'center',
                    style: 'padding: 0; margin:0;'
                }, 'task_related_data_tab_container');

                var summary_content_pane = new ContentPane({
                    title: 'Overview',
                    href: 'summarize/task/{{ task.id }}',
                    style: 'padding: 0; margin:0;'

                });

                task_related_data_tab_container.addChild(summary_content_pane);


                {% if has_permission('List_TimeLog') %}

                    var time_logs_content_pane = new ContentPane({
                        title: 'TimeLogs',
                        href: 'list/time_logs/{{ task.id }}',
                        style: 'padding: 0; margin:0;'
                    });

                    task_related_data_tab_container.addChild(time_logs_content_pane);
                {% endif %}

                {% if has_permission('List_Version') %}

                    var versions_content_pane = new ContentPane({
                        title: 'Versions',
                        content: 'list/versions/{{ task.id }}'
                    });

                    task_related_data_tab_container.addChild(versions_content_pane);
                {% endif %}

                {% if has_permission('List_Ticket') %}

                    var tickets_content_pane = new ContentPane({
                        title: 'Tickets',
                        content: 'list/tickets/{{ task.id }}'
                    });

                    task_related_data_tab_container.addChild(tickets_content_pane);

                {% endif %}

                task_related_data_tab_container.startup();

                task_BorderContainer.addChild(nav_bar_content_pane);
                task_BorderContainer.addChild(task_related_data_tab_container);
                task_BorderContainer.startup();


            });
</script>
