<div style="margin: 0" id='shot_split_container'>
  <div id='task_summary'>
      {# Summary View #}
  </div>
  <div id='task_related_data_tab_container'>
      {# Tab View #}
  </div>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dijit/layout/SplitContainer',
    'dijit/layout/TabContainer', 'dojox/layout/ContentPane', 'dojo/domReady!'],
          function(registry, SplitContainer, TabContainer, ContentPane){

            var task_SplitContainer = new SplitContainer({
              region: 'center',
              orientation: 'horizontal',
              splitter: false

            }, 'task_split_container');

            var summary_content_pane = new ContentPane({
              title: 'Summarize',
              href: 'summarize/task/{{ task.id }}',
              region: 'top',
              style: 'padding: 0; background-color: #eeeeee;'
            },'task_summary');

            // **********************************************************************
            // Bottom Part - Complex Data View
            var task_related_data_tab_container = new TabContainer({
              region: 'bottom',
              style: 'background-color: #fff200'
            }, 'task_related_data_tab_container');

            var tickets_content_pane = new ContentPane({
              title: 'Tickets',
              content: 'list/tickets/{{ task.id }}'
            });

            var versions_content_pane = new ContentPane({
              title: 'Versions',
              href: 'list/versions/{{ task.id }}'
            });

            task_related_data_tab_container.addChild(tickets_content_pane);
            task_related_data_tab_container.addChild(versions_content_pane);
            task_related_data_tab_container.startup();

            task_SplitContainer.addChild(summary_content_pane);
            task_SplitContainer.addChild(task_related_data_tab_container);
            task_SplitContainer.startup();


          });
</script>
