{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div style="background-color: #9d9d9d" class="page_title"></div>
<div id='version_details_content_pane'>
    {# Avatar #}
    <div id='version_thumbnail' class='thumbnail'>
        {% if not version.thumbnail %}
            <img src='{{ request.static_url("stalker:static/stalker/images/Placeholder_0.png") }}'
                 alt=''
                 style='width:120px; height: auto;'>
        {% else %}
            <img src='{{ version.thumbnail.full_path }}'
                 alt=''
                 style='width:120px; height: auto;'>
        {% endif %}
        <div class='thumbnail_menu'>&nbsp</div>
    </div>

    {# Basic Info #}
    <div id='version_info' class='summary_info'>
        <h4 style='margin: 0;'>{{ version.name }}</h4>

        <table>

            <tr>
                <td style='text-align: right'><strong>Path</strong></td>
                <td>&nbsp;</td>
                <td>{{ version.path }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Parent</strong></td>
                <td>&nbsp;</td>
                <td>{{ version.parent.name }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Task Name</strong></td>
                <td>&nbsp;</td>
                <td>{{ version.task.name }}</td>
            </tr>
            <tr>
                <td style='text-align: right'><strong>Created By</strong></td>
                <td>&nbsp;</td>
                <td>
                    {% if has_permission('Read_User') %}
                        <a href="javascript:redirectLink('central_content',
                        'view/user/{{ version.created_by.id }}');">
                            {{ version.created_by.name }}
                        </a>
                    {% else %}
                        {{ version.created_by.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style='text-align: right'></td>
                <td>&nbsp;</td>
                <td>
                    {% if has_permission('Update_Version') %}
                        <button id='add_output_button'>Add Output</button></td>
                    {% endif %}
            </tr>
        </table>
    </div>
    {#  Charts  #}
    {#  <div>#}
    {#    <div id='version_summary_chart1'#}
    {#         style='width: 200px;#}
    {#                  height: 200px;#}
    {#                  position: absolute;#}
    {#                  right: 20px;'></div>#}
    {#  </div>#}
</div>

<script type="text/javascript">
    require([
        'dojox/charting/Chart',
        'dojox/charting/themes/Tufte',
        'dojox/charting/plot2d/Pie',
        'dojox/charting/action2d/MoveSlice',
        'dijit/form/Button',
        'stalker/thumbnailMenu',
        'stalker/dialogs',
        'stalker/dialogCaller',
        'dojo/domReady!'
    ], function (Chart, theme, PiePlot, MoveSlice, Button, dialogs,
                 dialogCaller, thumbnailMenu) {



        // UPDATE VERSION BUTTON
        var version_summary_updater = function () {
            // refresh the content pane
            // get the content pane by id, alternatively we can use the parent of the button
            var content_pane = update_version_button.getParent();
            // refresh the pane
            content_pane.refresh();
        };

        {% if has_permission('Update_Version') %}
{#            var add_output_button = dialogCaller({#}
{#                label: 'Add Output',#}
{#                dialog_id: 'version_dialog',#}
{#                content_creator: dialogs.add_output_version_dialog,#}
{#                attach_to: 'add_output_button',#}
{#                related_field_updater: version_summary_updater,#}
{#                data_id: {{ version.id }}#}
{#            });#}
{#            add_output_button.startup();#}

            thumbnailMenu({
                targetNodeIds: ['version_avatar'],
                selector: '.thumbnail_menu',
                entity_id: {{ user.id }},
                related_field_updater: function () {
                    var content_pane = add_output_button.getParent();
                    if (content_pane != null) {
                        content_pane.refresh();
                    }
                }
            });
        {% endif %}




    });

</script>


