<div class='dijitDialogPaneContentArea' style='height: 380px'>
  <form id='add_status_list_form'>
    <table style='width: 100%'>
      
      {# NAME #}
      <tr>
        <td class='label_column'>
          <label for='status_list_name'>
            Name
          </label>
        </td>
        <td class='input_column'>
          <input id='status_list_name'>
        </td>
      </tr>
      
      {# TARGET ENTITY TYPE #}
      <tr>
        <td class='label_column'>
          <label for='status_list_target_entity_type'>
            Target Entity Type
          </label>
        </td>
        <td class='input_column'>
          <input id='status_list_target_entity_type'>
        </td>
      </tr>
      
      {# STATUSES #}
      <tr>
        <td class='label_column'>
          <label for='status_list_statuses'>
            Statuses
          </label>
        </td>
        <td class='input_column'>
          <select id='status_list_statuses'></select>
        </td>
        <td class='button_column'>
          <button id='status_list_add_status_button'>Add</button>
{#            <button id='status_list_edit_status_button'>Edit</button>#}
        </td>
      </tr>
      
    </table>
  </form>
</div>

<div class='dijitDialogPaneActionBar'>
  <button id='status_list_add_button'></button>
  <button id='status_list_cancel_button'></button>
</div>

<script type='text/javascript'>
  require(['dijit/registry', 'dojo/store/Memory', 'dijit/form/Form',
    'dijit/form/ValidationTextBox', 'dijit/form/TextBox',
    'dijit/form/SimpleTextarea', 'dijit/form/Button',
    'dijit/form/FilteringSelect', 'dijit/form/MultiSelect',
    'dojo/store/JsonRest', 'stalker/submitForm', 'stalker/fieldUpdater',
    'stalker/dialogCaller', 'dojo/domReady!'],
    function(registry, Memory, Form, ValidationTextBox, TextBox,
             SimpleTextarea, Button, FilteringSelect, MultiSelect, JsonRest,
             submitForm, fieldUpdater, dialogCaller){
      
      // **********************************************************************
      // Form
      var add_status_list_form = new Form({
        id: 'add_status_list_form'
      }, 'add_status_list_form');
      add_status_list_form.startup();
      
      
      
      
      // **********************************************************************
      // Name
      var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        placeHolder: 'Enter a name',
        required: true
      }, 'status_list_name');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Target Entity Type
      var target_entity_type_store = new Memory({
        data: [
          {% for entity_type in entity_types %}
            {
              name: '{{ entity_type.name }}',
              id: '{{ entity_type.name }}'
            },
          {% endfor %}
        ]
      });
      
      var target_entity_type_select = new FilteringSelect({
        name: 'target_entity_type',
        label: 'Target Entity Type',
        required: true,
        placeHolder: 'Select A Target Entity Type',
        store: target_entity_type_store,
{#        value: target_entity_type_store.data[0].id#}
        value: '{% if target_entity_type %}{{ target_entity_type }}{% else %}{% endif %}'
      }, 'status_list_target_entity_type');
      target_entity_type_select.startup();
      
      console.log('target_entity_type: ' + '{{ target_entity_type }}');
      
      
      
      // **********************************************************************
      // Statuses
      // 
      // The Memory
      var statuses_memory = new JsonRest({
        target: '/get/statuses'
      });
    
      // The Widget
      var statuses_multiSelect = new MultiSelect({
        name: 'statuses',
        required: false,
        style: 'width: 180px; height: 331px'
      }, 'status_list_statuses');
      statuses_multiSelect.startup();
      
      // The Updater
      var statuses_field_updater = fieldUpdater({
        'memory': statuses_memory,
        'widget': statuses_multiSelect
      });
      // run the function to fill the data for the first time
      statuses_field_updater({animate: false});
      
      // Add Status Button
      var add_status_button = dialogCaller({
        label: 'Add',
        dialog_id: 'add_status_dialog',
        content_creator: create_add_status_dialog,
        attach_to: 'status_list_add_status_button',
        related_field_updater: statuses_field_updater
      });
      add_status_button.startup();
      
      
      
      
      // **********************************************************************
      // Add Button
      var add_button = new Button({
        label: 'Add',
        type: 'button',
        onClick: function(){
          submitForm({
            dialog: registry.byId('add_status_list_dialog'),
            form: add_status_list_form,
            additional_data: {submitted: 'add'},
            url: '{{ request.route_url('add_status_list') }}',
            method: 'POST'
          });
        }
      }, 'status_list_add_button');
      add_button.startup();
      
      
      
      
      // **********************************************************************
      // Cancel Button
      var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function(){
          registry.byId('add_status_list_dialog').destroyRecursive();
        }
      }, 'status_list_cancel_button');
      cancel_button.startup();
      
      
  });
</script>

