task Project_{{project.id}} "Project_{{project.id}}" {
        
task Sequence_{{sequence1.id}} "Sequence_{{sequence1.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}}             
}        
task Sequence_{{sequence2.id}} "Sequence_{{sequence2.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user2.id}}             
}        
task Sequence_{{sequence3.id}} "Sequence_{{sequence3.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user3.id}}             
}        
task Sequence_{{sequence4.id}} "Sequence_{{sequence4.id}}" {

    
    
task Task_{{task4.id}} "Task_{{task4.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user4.id}}             
}
task Task_{{task5.id}} "Task_{{task5.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user5.id}}             
}
task Task_{{task6.id}} "Task_{{task6.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user6.id}}             
}
}        
task Sequence_{{sequence5.id}} "Sequence_{{sequence5.id}}" {

    
    
task Task_{{task7.id}} "Task_{{task7.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user7.id}}             
}
task Task_{{task8.id}} "Task_{{task8.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user8.id}}             
}
task Task_{{task9.id}} "Task_{{task9.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user9.id}}             
}
}        
task Sequence_{{sequence6.id}} "Sequence_{{sequence6.id}}" {

    
                        
}        
task Sequence_{{sequence7.id}} "Sequence_{{sequence7.id}}" {

    
                        
}        
task Shot_{{shot1.id}} "Shot_{{shot1.id}}" {

    
    
task Task_{{task10.id}} "Task_{{task10.id}}" {

    
            
            
            effort 10.0h
            allocate User_{{user10.id}}             
}
task Task_{{task11.id}} "Task_{{task11.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}} , User_{{user2.id}}             
}
task Task_{{task12.id}} "Task_{{task12.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user3.id}} , User_{{user4.id}}             
}
}        
task Shot_{{shot2.id}} "Shot_{{shot2.id}}" {

    
    
task Task_{{task13.id}} "Task_{{task13.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user5.id}} , User_{{user6.id}}             
}
task Task_{{task14.id}} "Task_{{task14.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user7.id}} , User_{{user8.id}}             
}
task Task_{{task15.id}} "Task_{{task15.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user9.id}} , User_{{user10.id}}             
}
}        
task Shot_{{shot3.id}} "Shot_{{shot3.id}}" {

    
    
task Task_{{task16.id}} "Task_{{task16.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}} , User_{{user2.id}} , User_{{user3.id}}             
}
task Task_{{task17.id}} "Task_{{task17.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user4.id}} , User_{{user5.id}} , User_{{user6.id}}             
}
task Task_{{task18.id}} "Task_{{task18.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user7.id}} , User_{{user8.id}} , User_{{user9.id}}             
}
}        
task Shot_{{shot4.id}} "Shot_{{shot4.id}}" {

    
    
task Task_{{task19.id}} "Task_{{task19.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}} , User_{{user2.id}} , User_{{user10.id}}             
}
task Task_{{task20.id}} "Task_{{task20.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user3.id}} , User_{{user4.id}} , User_{{user5.id}}             
}
task Task_{{task21.id}} "Task_{{task21.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user6.id}} , User_{{user7.id}} , User_{{user8.id}}             
}
}        
task Asset_{{asset1.id}} "Asset_{{asset1.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user2.id}}             
}        
task Asset_{{asset2.id}} "Asset_{{asset2.id}}" {

    
                        
}        
task Asset_{{asset3.id}} "Asset_{{asset3.id}}" {

    
                        
}        
task Asset_{{asset4.id}} "Asset_{{asset4.id}}" {

    
    
task Task_{{task22.id}} "Task_{{task22.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}} , User_{{user9.id}} , User_{{user10.id}}             
}
task Task_{{task23.id}} "Task_{{task23.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user2.id}} , User_{{user3.id}}             
}
task Task_{{task24.id}} "Task_{{task24.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user4.id}} , User_{{user5.id}}             
}
}        
task Asset_{{asset5.id}} "Asset_{{asset5.id}}" {

    
    
task Task_{{task25.id}} "Task_{{task25.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user6.id}} , User_{{user7.id}}             
}
task Task_{{task26.id}} "Task_{{task26.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user8.id}} , User_{{user9.id}}             
}
task Task_{{task27.id}} "Task_{{task27.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}} , User_{{user10.id}}             
}
}        
task Task_{{task1.id}} "Task_{{task1.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user1.id}}             
}        
task Task_{{task2.id}} "Task_{{task2.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user2.id}}             
}        
task Task_{{task3.id}} "Task_{{task3.id}}" {

    
            
            
            effort 1.0h
            allocate User_{{user3.id}}             
}}