<!-- Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
-->
<div class='dijitDialogPaneContentArea'>
  <div id='update_repository_form'>
    <table style='width: 100%'>
      
      {# NAME #}
      <tr>
        <td class='label_column'>
          <label for='repository_name'>
            Name
          </label>
        </td>
        <td class='input_column'>
          <input id='repository_name'>
        </td>
      </tr>
      
      {# WINDOWS_PATH #}
      <tr>
        <td class='label_column'>
          <label for='repository_windows_path'>
            Windows Path
          </label>
        </td>
        <td class='input_column'>
          <input id='repository_windows_path'>
        </td>
      </tr>
      
      {# LINUX_PATH #}
      <tr>
        <td class='label_column'>
          <label for='repository_linux_path'>
            Linux Path
          </label>
        </td>
        <td class='input_column'>
          <input id='repository_linux_path'>
        </td>
      </tr>

      {# OSX_PATH #}
      <tr>
        <td class='label_column'>
          <label for='repository_osx_path'>
            OSX Path
          </label>
        </td>
        <td class='input_column'>
          <input id='repository_osx_path'>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class='dijitDialogPaneActionBar'>
  <button id='repository_update_button'></button>
  <button id='repository_cancel_button'></button>
</div>
<script type='text/javascript'>
  require(['dijit/registry', 'dojo/store/Memory', 'dijit/form/Form',
    'dijit/form/ValidationTextBox', 'dijit/form/TextBox',
    'dijit/form/NumberTextBox', 'dijit/form/Button', 'stalker/submitForm',
    'dojo/domReady!'],
    function(registry, Memory, Form, ValidationTextBox, NumberTextBox, TextBox,
             Button, submitForm){
      
      var update_repository_form = new Form({
        id: 'update_repository_form'
      }, 'update_repository_form');
      update_repository_form.startup();
      
      
      
      
      // **********************************************************************
      // Name
      var name_textBox = new ValidationTextBox({
        name: 'name',
        label: 'Name',
        value: '{{ repository.name }}',
        placeHolder: 'Enter a Name',
        required: true
      }, 'repository_name');
      name_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Windows Path
      var windows_path_textBox = new ValidationTextBox({
        name: 'windows_path',
        label: 'Windows Path',
        value: '{{ repository.windows_path }}',
        placeHolder: 'Enter the Windows Path',
        required: true
      }, 'repository_windows_path');
      windows_path_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Linux Path
      var linux_path_textBox = new ValidationTextBox({
        name: 'linux_path',
        label: 'Linux Path',
        value: '{{ repository.linux_path }}',
        placeHolder: 'Enter the Linux Path',
        required: true
      }, 'repository_linux_path');
      linux_path_textBox.startup();
      
      
      
      
      // **********************************************************************
      // OSX Path
      var osx_path_textBox = new ValidationTextBox({
        name: 'osx_path',
        label: 'OSX Path',
        value: '{{ repository.osx_path }}',
        placeHolder: 'Enter the OSX Path',
        required: true
      }, 'repository_osx_path');
      osx_path_textBox.startup();
      
      
      
      
      // **********************************************************************
      // Update Button
      var update_button = new Button({
        label: 'Update',
        type: 'button',
        onClick: function(){
          submitForm({
            dialog: registry.byId('update_repository_dialog'),
            form: update_repository_form,
            additional_data: {submitted: 'update'},
            url: '{{ request.route_url('update_repository', repository_id=repository.id) }}',
            method: 'POST'
          });
        }
      }, 'repository_update_button');
      update_button.startup();
      
      
      
      
      // **********************************************************************
      // Cancel Button
      var cancel_button = new Button({
        label: 'Cancel',
        type: 'button',
        onClick: function(){
          registry.byId('update_repository_dialog').destroyRecursive();
        }
      }, 'repository_cancel_button');
      cancel_button.startup();        
  });
</script>

