{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='view_projects'>
    <div id='projects_data_grid'></div>
</div>

<script type='text/javascript'>
    require(['dijit/registry',
        'dojo/data/ObjectStore',
        "dgrid/List",
        "dgrid/Grid",
        "dgrid/Selection",
        "dgrid/editor",
        'dojo/store/Memory',
        'dijit/form/FilteringSelect',
        'dojo/store/JsonRest',
        'dojo/domReady!'
    ], function (registry, ObjectStore, List, Grid, Selection,
                 editor, Memory, FilteringSelect, JsonRest) {


        var projects_DataGrid = new Grid({
            id: 'projects_data_grid',
            width: '100%',
            autoHeight: true
        }, 'projects_data_grid');


        function projects_DataGrid_updater() {

            var projects_memory = new JsonRest({
                target: '/get/projects_byEntity/{{ entity.id }}'
            });

            projects_memory.query().then(function (data) {


                var columns = [
                    {
                        label: "Thumbnail",
                        field: 'thumbnail',
                        sortable: false,
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {
                            return '<img width= "100px"; src="{{ request.static_url("stalker:static/stalker/images/NoProjectPicture.jpg") }}">';
                        }
                    },
                    {
                        field: 'name',
                        label: "Name",
                        get: function (object) {
                            return object; // return entire item for formatter to use
                        },
                        formatter: function (value) {

                            var targetPane = "'central_content'";
                            var address = "'view/project/" + value.id + "'";

                            return '<a href="javascript:redirectLink(' + targetPane + ',' + address + ');">' + value.name + '</a>';
                        }
                    }
                ];


                projects_DataGrid.renderArray(data);

                projects_DataGrid.set('columns', columns);


            });

        }


        projects_DataGrid_updater();

    });

</script>

