{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}

<div style="text-align: center"><h4><b>Project Summary</b></h4></div>

<div id='project_details'>
    <div style="background-color: #39b54a " class="page_title"></div>
    {# Thumbnail #}
    <div id='project_thumbnail' class='thumbnail'>
        {% if not project.thumbnail %}
      <img src='{{ request.static_url("stalker:static/stalker/images/NoProjectPicture.jpg") }}' alt=''
           style='width:192px; height: 192px'>
    {% endif %}</div>

    {# Basic Info #}
    <div id='project_info' class='summary_info'>
      <h2 style='margin: 0px; text-align: right'>{{ project.name }}</h2>
      <h5 style='margin: 0px; text-align: right'>({{ project.code }})</h5>
      <table>
        <tr>
          <td style='text-align: right'><b>Lead</b></td>
          <td>&nbsp;</td>

          <td>
            <a href="#" class= "DataLink" stalker_href = "view/user/{{ project.lead.id }}">{{ project.lead.name }}</a>
            ({{ project.lead.login }})
          </td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Image Format</b></td>
          <td>&nbsp;</td>
          <td>{{ project.image_format.name }} ({{ project.image_format.width }} x {{ project.image_format.height }} x {{ project.image_format.pixel_aspect }})</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Status</b></td>
          <td>&nbsp;</td>
          <td>{{ project.status.name }} / {{ project.status.code }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Repository</b></td>
          <td>&nbsp;</td>
          <td>{{ project.repository.name }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Start Date</b></td>
          <td>&nbsp;</td>
          <td>{{ project.start }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>End Date</b></td>
          <td>&nbsp;</td>
          <td>{{ project.end }}</td>
        </tr>
      </table>
      <button id='update_project_button'>Edit</button>
    </div>
    {#  Charts  #}
    <div>
      <div id='project_summary_chart1'
           style='width: 192px;
                  height: 192px;
                  position: absolute;
                  right: 20px;'></div>
    </div>
</div>

<script type="text/javascript">

  require(['dijit/registry',
    'dojox/charting/Chart',
    'dojox/charting/themes/Claro',
    'dojox/charting/plot2d/Pie',
    'dojox/charting/action2d/MoveSlice',
    'dijit/form/Button',
    'stalker/dialogCaller',
    'stalker/goToLink',
    'dojo/ready'],
    function(registry, Chart, theme, PiePlot,  MoveSlice, Button, dialogCaller, goToLink, ready){
      ready(function(){
        // Create the chart within it's "holding" node
        var pieChart = new Chart('project_summary_chart1');
        
        // Add the only/default plot
        pieChart.setTheme(theme);

        // Add the only/default plot
        pieChart.addPlot("default", {
          type: PiePlot, // our plot2d/Pie module reference as type value
          radius: 80,
          fontColor: "black",
          labelOffset: 0
        });

        var chartData = [1000, 12000];
        
        // Add the series of data
        pieChart.addSeries('January', chartData);
        
        // Create the slice mover
        var mag = new MoveSlice(pieChart, 'default');

        // Render the chart!
        pieChart.render();

        // UPDATE STRUCTURE BUTTON
        var update_project_button = dialogCaller({
          label:'Update',
          dialog_id: 'update_project_dialog',
          content_creator: update_project_dialog_creator,
          attach_to: 'update_project_button',
          //related_field_updater: structure_field_updater,
          data_id: {{ project.id }}
        });
        update_project_button.startup();
        
      });




      goToLink({target:'central_content'});




    
  });
</script>
