{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='view_projects'>
  <div id='projects_data_grid'></div>
</div>

<script type='text/javascript'>
  require(['dijit/registry',
    'dojo/data/ObjectStore', 'dojox/grid/DataGrid', 'dojo/store/Memory',
    'dijit/form/FilteringSelect', 'dojo/store/JsonRest',
    'stalker/fieldUpdater', 'stalker/dialogCaller', 'dojo/on', 'dojo/query',
    'dojo/ready'],
          function(registry, ObjectStore, DataGrid, Memory, FilteringSelect,
                   JsonRest, fieldUpdater, dialogCaller, on, query, ready){

            ready(function(){

              var projects_DataGrid = new DataGrid({
                id: 'projects_data_grid',
                width: '100%',
                autoHeight: true,
                singleClickEdit: true,
                escapeHTMLInData: false,
                rowSelector: '20px'
              }, 'projects_data_grid');

              projects_DataGrid.startup();


              function projects_DataGrid_updater(){

                var user_memory = new JsonRest({
                  target: '/get/projects_byEntity/{{ entity.id }}'
                });

                user_memory.query().then(function(data){
                  for(var i=0;i<data.length;i++ ){
                    var projectName = data[i]["name"];
                    var projectLink = '<a class="DataLink" href="#" stalker_href="view/user/' + data[i]['id'] + '">' + projectName + '</a>';

                    data[i]["projectLink"] = projectLink;
                  }

                  var my_store =  new ObjectStore({ objectStore:new Memory({ data: data }) });

                  var structure = [
                    {name: 'Thumbnail',                           width: '100px'},
                    {name: 'Name',         field: 'projectLink',    width: '100px'}
                  ];

                  projects_DataGrid.set('store', my_store );
                  projects_DataGrid.set('structure', structure );

                  //goToLink({target:'central_content'});
                });

              }



              projects_DataGrid_updater();

            });
          });
</script>

