<div id='project_details'>
    {# Thumbnail #}
    <div id='project_thumbnail' class='project_thumbnail'>No Thumbnail</div>

    {# Basic Info #}
    <div id='project_info' class='project_info'>
      <h2 style='margin: 0px; text-align: right'>{{ project.name }}</h2>
      <h5 style='margin: 0px; text-align: right'>({{ project.code }})</h5>
      <table>
        <tr>
          <td style='text-align: right'><b>Lead</b></td>
          <td>&nbsp;</td>
          <td>{{ project.lead.name }} ({{ project.lead.login }})</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Image Format</b></td>
          <td>&nbsp;</td>
          <td>{{ project.image_format.name }} ({{ project.image_format.width }} x {{ project.image_format.height }} x {{ project.image_format.pixel_aspect }})</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Status</b></td>
          <td>&nbsp;</td>
          <td>{{ project.status.name }} / {{ project.status.code }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Repository</b></td>
          <td>&nbsp;</td>
          <td>{{ project.repository.name }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>Start Date</b></td>
          <td>&nbsp;</td>
          <td>{{ project.start }}</td>
        </tr>
        <tr>
          <td style='text-align: right'><b>End Date</b></td>
          <td>&nbsp;</td>
          <td>{{ project.end }}</td>
        </tr>
      </table>
    </div>
    
</div>
