{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='view_groups'>
    <button id='view_groups_append_group_button'>Append Group
    </button>
    <div id='groups_data_grid'></div>
</div>

<script type='text/javascript'>
    require([
        'dijit/registry',
        'dojo/data/ObjectStore',
        "dgrid/List",
        "dgrid/Grid",
        "dgrid/Selection",
        "dgrid/Keyboard",
        "dgrid/editor",
        'dojo/store/Memory',
        'dojo/store/JsonRest',
        'stalker/dialogs',
        'stalker/fieldUpdater',
        'stalker/dialogCaller',
        'dojo/on',
        'dojo/query',
        'dojo/domReady!'],
            function (registry, ObjectStore, List, Grid, Selection, Keyboard,
                      editor, Memory, JsonRest, dialogs, fieldUpdater,
                      dialogCaller, on, query) {

                var groups_DataGrid = new Grid({
                    id: 'groups_data_grid',
                    width: '100%',
                    autoHeight: true
                }, 'groups_data_grid');


                function groups_DataGrid_updater() {

                    var group_memory = new JsonRest({
                        target: '/get/groups_byEntity/{{ user.id }}'
                    });

                    group_memory.query().then(function (data) {

                        var columns = [
                            {
                                label: "Thumbnail",
                                field: 'thumbnail',
                                sortable: false,
                                get: function (object) {
                                    return object; // return entire item for formatter to use
                                },
                                formatter: function (value) {
                                    return '<img src="{{ request.static_url("stalker:static/stalker/images/Placeholder_Team.jpg") }}">';
                                }
                            },
                            {
                                field: 'name',
                                label: "Name",
                                get: function (object) {
                                    return object; // return entire item for formatter to use
                                },
                                formatter: function (value) {

                                    var targetPane = "'central_content'";
                                    var address = "'view/group/" + value.id + "'";

                                    return '<a href="javascript:redirectLink(' + targetPane + ',' + address + ');">' + value.name + '</a>';
                                }
                            }
                        ];

                        groups_DataGrid.renderArray(data);
                        groups_DataGrid.set('columns', columns);

                    });

                }

                var append_group_button = dialogCaller({
                    label: 'Append Group',
                    dialog_id: 'append_group_dialog',
                    content_creator: dialogs.append_group_dialog,
                    attach_to: 'view_groups_append_group_button',
                    related_field_updater: groups_DataGrid_updater,
                    data_id: '{{ user.id }}'
                });

                append_group_button.startup();

                groups_DataGrid_updater();
            });

</script>

