{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}

<div id='group_details_content_pane'>
    <div style="background-color: #f8acac;" class="page_title"></div>

    {# Avatar #}
    <div id='group_avatar'
         class='thumbnail'>
        {% if not group.thumbnail %}
            <img src='{{ request.static_url("stalker:static/stalker/images/Placeholder_Team.jpg") }}'>
        {% endif %}
    </div>

    {# Basic Info #}
    <div id='group_info' class='summary_info'>
        <h2 style='margin: 0; text-align: left;'>{{ group.name }}</h2>
        {% if has_permission('Update_Group') %}
            <button id='update_group_button'>Update</button>
        {% endif %}
    </div>
</div>

<script type='text/javascript'>
    require([
        'dijit/form/Button',
        'stalker/dialogs',
        'stalker/dialogCaller',
        'stalker/gotoLink',
        'dojo/domReady!'
    ], function (Button, dialogs, dialogCaller, gotoLink) {

        // ********************************************************************
        // Update Group Button
        var group_summary_updater = function () {
            // refresh the content pane
            // get the content pane by id, alternatively we can use the parent of the button
            var content_pane = update_group_button.getParent();
            // refresh the pane
            content_pane.refresh();
        };

        {% if has_permission('Update_Group') %}
            var update_group_button = dialogCaller({
                label: 'Update',
                dialog_id: 'update_group_dialog',
                content_creator: dialogs.update_group_dialog,
                attach_to: 'update_group_button',
                related_field_updater: group_summary_updater,
                data_id: {{ group.id }}
            });
            update_group_button.startup();
        {% endif %}

        gotoLink();
    });
</script>

