{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div id='user_details_content_pane'>
   <div style="background-color: #00aef0;" class="page_title">     </div>

  {# Avatar #}
    <div id='user_avatar'
         class='thumbnail'>
      {% if not user.thumbnail %}
      <img src='{{ request.static_url("stalker:static/stalker/images/NoPicture.gif") }}' alt=''
              style='width:192px; height: 192px'>
      {% endif %}
    </div>

    {# Basic Info #}
    <div id='user_info' class='summary_info'>
        <h2 style='margin: 0px; text-align: left;'>{{ user.name }}</h2>
        <h5 style='margin: 0px; text-align: left;'>({{ user.login }})</h5>
        <table>
            <tr>
                <td style='text-align: right'><b>Messages</b></td>
                <td>&nbsp;</td>
                <td>({{ user.messages|count }})</td>
            </tr>
            <tr>
                <td style='text-align: right'><b>Tasks</b></td>
                <td>&nbsp;</td>
                <td>({{ user.tasks|count }})</td>
            </tr>
            <tr>
                <td style='text-align: right'><b>Open Tickets</b></td>
                <td>&nbsp;</td>
                <td>({{ user.open_tickets|count }})</td>
            </tr>
        </table>
        <button id='update_user_button'>Edit</button>
    </div>
    {#  Charts  #}
  <div>
    <div id='user_summary_chart1'
         style='width: 200px;
                  height: 200px;
                  position: absolute;
                  right: 20px;'></div>
  </div>
</div>

<script type="text/javascript">
  require(['dojox/charting/Chart',
    'dojox/charting/themes/Claro',
    'dojox/charting/plot2d/Pie',
    'dojox/charting/action2d/MoveSlice',
    'dijit/form/Button',
    'stalker/dialogCaller',
    'dojo/ready'],
          function(Chart, theme, PiePlot,  MoveSlice, Button, dialogCaller,ready){
            ready(function(){
              // Create the chart within it's "holding" node
              var pieChart = new Chart('user_summary_chart1');

              // Add the only/default plot
              pieChart.setTheme(theme);

              // Add the only/default plot
              pieChart.addPlot("default", {
                type: PiePlot, // our plot2d/Pie module reference as type value
                radius: 80,
                fontColor: "black",
                labelOffset: 0
              });

              var chartData = [1000, 12000];

              // Add the series of data
              pieChart.addSeries('January', chartData);

              // Create the slice mover
              var mag = new MoveSlice(pieChart, 'default');

              // Render the chart!
              pieChart.render();

              // UPDATE STRUCTURE BUTTON
              var update_user_button = dialogCaller({
                label:'Update',
                dialog_id: 'update_user_dialog',
                content_creator: update_user_dialog_creator,
                attach_to: 'update_user_button',
                data_id: {{ user.id }}
              });
              update_user_button.startup();

            });

          });
</script>
