{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% extends 'base.jinja2' %}
{% block body %}
  <div id='appLayout' class='demoLayout'>
    <div id='central_content' class='centralPanel'
         style='left: 50%;
                top: 50%;
                width: 250px;
                margin-left: -125px;
                height: 136px;
                margin-top: -68px;'>
      <div class='dijitDialogPaneContentArea' style='background-color: #808080; height:100px; color:#ffffff'>
        <form id='login_form_div' style='clear:both'>
          <br/>
          <h3 style='text-align: center; color:#ffffff;'><b>Login To Stalker</b></h3>
          <table>

            <tr>
              <td class='label_column'>
                <label for='e-mail'>e-mail</label>
              </td>
              <td style='text-align: center; color:#000000;' class='input_column'>
                <input id='e-mail'>
              </td>
            </tr>

            <tr>
              <td class='label_column'>
                <label for='password'>password</label>
              </td>
              <td style='text-align: center; color:#000000;' class='input_column'>
                <input id='password' >
              </td>
              <input id='form.submitted' type='hidden'>
            </tr>
            <tr>
              <td style='text-align: center; color:#000000;' >

              </td>

              <td style='text-align: right; color:#000000;' >
                <button id='login_button'></button>
              </td>
            </tr>
          </table>
        </form>
        <div id='message'
             style='position: relative; clear: both; text-align: center; background-color: #ff0000; color:#ffffff;'>
          <b>{{message}}</b>
        </div>
      </div>

    </div>
  </div>
  <script type='text/javascript'>
    require(['dijit/registry', 'dijit/Dialog', 'dijit/form/Form',
      'dijit/form/TextBox',
      'dijit/form/ValidationTextBox', 'dijit/form/Button'],
    function(registry, Dialog, Form, TextBox, ValidationTextBox, Button){
      
      var login_form = new Form({
        id: 'login_form',
        action:'{{request.route_url("login")}}',
        method:'POST'
      }, 'login_form_div');

      
      // Login or Email
      var login_validationTextBox = new ValidationTextBox({
        name: 'login',
        required: true,
        type: 'text',
        value: '{{login}}'
      }, 'e-mail');

      
      // Password
      var password_validationTextBox = new ValidationTextBox({
        name: 'password',
        type: 'password',
        value: '{{password}}',
        onKeyPress: function(e){
          // submit on Enter
          if (e.keyCode==13){
            login_form.submit();
          }
        }
      }, 'password');

      
      var form_submitted_textBox = new TextBox({
        name:'form.submitted',
        value:'login',
        type:'hidden'
      }, 'form.submitted');

      
      // Login Button
      var login_button = new Button({
        label: 'Login',
        type: 'submit',
        name: 'form.submitted',
        onClick: function(){
          login_form.submit()
        }
      }, 'login_button');

      login_validationTextBox.startup();
      password_validationTextBox.startup();
      form_submitted_textBox.startup();
      login_button.startup();
      login_form.startup();
      
    })
  </script>
{% endblock body%}
