{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div style="margin-top: 0" id='user_border_container'>
    {#  <div id='user_summary'>#}
    {# Summary View #}
    {#  </div>#}
    <div id='data_tab_container'>
        <div id='tasks_content_pane'></div>
        <div id='projects_content_pane'></div>
        <div id='tickets_content_pane'></div>
        <div id='departments_content_pane'></div>
        <div id='time_logs_content_pane'></div>
    </div>
</div>

<script type='text/javascript'>
    require([
        'dijit/layout/BorderContainer',
        'dijit/layout/TabContainer',
        'dojox/layout/ContentPane',

        'dojo/domReady!'
    ], function (BorderContainer, TabContainer, ContentPane) {

        var user_BorderContainer = new BorderContainer({
            id: 'user_border_container',
            region: 'center',
            orientation: 'vertical',
            splitter: true,
            resizable: false,
            style: 'width:100%; height:100%; margin:0;'
        }, 'user_border_container');

        var summary_content_pane = new ContentPane({
            title: 'Summarize',
            href: 'summarize/user/{{ user.id }}',
            region: 'top',
            style: 'width:100%; height:145px; padding: 0; background-color: #eeeeee;',
            splitter: true

        });

        user_BorderContainer.addChild(summary_content_pane);

        // **********************************************************************
        // Bottom Part - Complex Data View
        var user_related_data_tab_container = new TabContainer({
            title: 'Tab',
            region: 'center',
            style: 'width: 100%; height: 100%; background-color: #45b8cc;'

        }, 'data_tab_container');


        {% if has_permission('List_Ticket') %}
            var tasks_content_pane = new ContentPane({
                title: 'Tasks',
                href: 'list/tasks/{{ user.id }}',
                default_href: 'list/tasks/{{ user.id }}',
                style: ' padding: 0; margin:0;'
            }, 'tasks_content_pane');
            user_related_data_tab_container.addChild(tasks_content_pane);

        {% endif %}

        {% if has_permission('List_Ticket') %}

            var projects_content_pane = new ContentPane({
                title: 'Projects',
                href: 'list/projects/{{ user.id }}',
                default_href: 'list/projects/{{ user.id }}',
                style: ' padding: 0; margin:0;'
            });
            user_related_data_tab_container.addChild(projects_content_pane);
        {% endif %}

        {% if has_permission('List_Ticket') %}
            var departments_content_pane = new ContentPane({
                title: 'Departments',
                href: 'list/departments/{{ user.id }}',
                default_href: 'list/departments/{{ user.id }}',
                style: ' padding: 0; margin:0;'
            });

            user_related_data_tab_container.addChild(departments_content_pane);

        {% endif %}

        {% if has_permission('List_Ticket') %}
            var groups_content_pane = new ContentPane({
                title: 'Permissions',
                href: 'list/groups/{{ user.id }}',
                default_href: 'list/groups/{{ user.id }}',
                style: ' padding: 0; margin:0;'
            });

            user_related_data_tab_container.addChild(groups_content_pane);

        {% endif %}

        {% if has_permission('List_Ticket') %}
            var tickets_content_pane = new ContentPane({
                title: 'Tickets',
                href: 'list/tickets/{{ user.id }}',
                default_href: 'list/tickets/{{ user.id }}',
                style: ' padding: 0; margin:0;'
            });
            user_related_data_tab_container.addChild(tickets_content_pane);


        {% endif %}

        {% if has_permission('List_Ticket') %}
            var time_logs_content_pane = new ContentPane({
                title: 'Time Logs',
                href: 'list/time_logs/{{ user.id }}',
                style: 'padding: 0; margin:0;'
            });
            user_related_data_tab_container.addChild(time_logs_content_pane);

        {% endif %}


        user_BorderContainer.addChild(user_related_data_tab_container);

        user_related_data_tab_container.startup();
        user_BorderContainer.startup();


        user_related_data_tab_container.watch("selectedChildWidget", function (name,
                                                                               oval,
                                                                               nval) {
            console.debug("selected child changed from ", nval.title, " to ", nval.href);
            oval.set('href', '');
            oval.refresh();

            nval.set('href', nval.default_href);
            nval.refresh();

        });
    });
</script>

