{# Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div style="margin-top: 0" id='group_border_container'>
    {#  <div id='group_summary'>#}
    {# Summary View #}
    {#  </div>#}
    <div id='group_related_data_tab_container'>
        <div id='tasks_pane'></div>
        <div id='projects_pane'></div>
        <div id='tickets_pane'></div>
        <div id='departments_pane'></div>
    </div>
</div>

<script type='text/javascript'>
    require([
        'dijit/layout/BorderContainer',
        'dijit/layout/TabContainer',
        'dojox/layout/ContentPane',

        'dojo/domReady!'
    ], function (BorderContainer, TabContainer, ContentPane) {

        var group_BorderContainer = new BorderContainer({
            id: 'group_border_container',
            region: 'center',
            orientation: 'vertical',
            splitter: true,
            resizable: false,
            style: 'width:100%; height:100%; margin:0;'
        }, 'group_border_container');

        var summary_content_pane = new ContentPane({
            title: 'Summarize',
            href: 'summarize/group/{{ group.id }}',
            region: 'top',
            style: 'width:100%; height:200px; padding: 0; background-color: #eeeeee;',
            splitter: true

        });

        group_BorderContainer.addChild(summary_content_pane);

        // **********************************************************************
        // Bottom Part - Complex Data View
        var group_related_data_tab_container = new TabContainer({
            title: 'Tab',
            region: 'center',
            style: 'width: 100%; background-color: #f8acac;'

        });

        var permissions_content_pane = new ContentPane({
            title: 'Permissions',
            content: 'list/permissions/{{ group.id }}',
            style: 'padding: 0; margin:0;'
        });

        var users_content_pane = new ContentPane({
            title: 'Users',
            href: 'list/users/{{ group.id }}',
            style: 'padding: 0; margin:0;'
        });


        group_related_data_tab_container.addChild(users_content_pane);
        group_related_data_tab_container.addChild(permissions_content_pane);

        group_BorderContainer.addChild(group_related_data_tab_container);

        group_related_data_tab_container.startup();
        group_BorderContainer.startup();
    });
</script>

